<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav>
        <ul>
            <li class="nav-left">
                <img id="nav-wetopia-logo" src="static/img/logo_ww.svg" alt="Wetopia" />
                <div class="discover-div aqua-text inner-nav">
                    <img id="discover-logo" src="static/img/discover.svg" />
                    <ul>
                        <li id="first-nav-element"><img src="static/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="static/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="static/img/persons.svg"><a href="#">Personas</a></li>
                        <li><img src="static/img/discover_Hover.svg"><a href="#">Más</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-middle"><img id="idea-logo" src="static/img/create.svg" /></li>
            <li class="nav-right">
                <div class="display-inner">
                    <img id="notifications-icon" src="static/img/Notify.svg">
                    <ul>
                        <p class="pt-h">Notifications</p>
                        <div class="scroll-list">
                            <li class="not-block says new"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Mary</span>
                                    <span class="like-4"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>1 min</span>
                                </p>
                            </li>
                            <li class="not-block commented new"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Mary</span>
                                    <span class="act-pivot"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>2 min</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Kevin</span>
                                    <span class="like-3"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>30 min</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Erick</span>
                                    <span class="like-2"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>2 days</span>
                                </p>
                            </li>
                            <li class="not-block commented"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Josh</span>
                                    <span class="prev-pivot">3</span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>10 days</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Pancho</span>
                                    <span class="like-1"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>1 month</span>
                                </p>
                            </li>

                        </div>
                    </ul>
                </div>
                <div class="inner-nav">
                    <img id="nav-user-img" src="static/img/Create Idea_profilePhoto.svg" />
                    <ul>
                        <li>Mis:</li>
                        <li><img src="static/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="static/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="static/img/profile.svg"><a href="#">Perfil</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-right">
                <div class="wrapper">
                    <input id="nav-search" type="search" name="navsearch" />
                    <i class="fa fa-search"></i>
                </div>
            </li>
        </ul>
    </nav>
    <div class="content">
        <p class="blue-text" id="go-back-idea">
            <img src="static/img/arrowDown.svg"> Volver a la Idea
        </p>
        <div class="mid-page" id="graph-cont">
            <div class="donut-cont">
                <canvas id="donut-chart" height="300px" width="300px" class="chart chart-doughnut" chart-data="data" chart-colors="colors" chart-labels="labels" chart-series="series"></canvas>
                <!--<canvas id="donut-chart" height="300px" width="300px"></canvas>-->
                <div class="donut-center">
                    <p id="dc-percentage">{{percentage}}</p>
                    <div class="clip-circ-img">
                        <img id="dc-img" ng-src="/static/img/{{likeImg}}">
                    </div>
                    <p style="color: {{likeColor}}" id="dc-p">{{likeLabel}}</p>
                </div>
            </div>
            <p id="votes-num">50</p>
            <table class="right-num">
                <tr>
                    <td class="number">11</td>
                    <td><img src="static/img/like 4_Active.svg"></td>
                    <td class="left-align"><span class="green-text">¡Me encanta, lo necesito ya!</span></td>
                </tr>
                <tr class="highlighted">
                    <td class="number">25</td>
                    <td><img src="static/img/like 3_Active.svg"></td>
                    <td class="left-align"><span class="color-red">¡Me encanta!, mas no es lo mío.</span></td>
                </tr>
                <tr>
                    <td class="number">9</td>
                    <td><img src="static/img/like 2_Active.svg"></td>
                    <td class="left-align"><span class="yellow-text">Me gusta, pero aún le falta algo.</span></td>
                </tr>
                <tr>
                    <td class="number">5</td>
                    <td><img src="static/img/like 1_Active.svg"></td>
                    <td class="left-align"><span class="blue-text">No me agrada.</span></td>
                </tr>
            </table>
        </div>
        <div class="mid-page left-align" id="stats-resume">
            <table class="right-num">
                <tr>
                    <td><img src="static/img/Recurso 10_Idea.svg"></td>
                    <td class="number">322</td>
                    <td>Vistas</td>
                </tr>
                <tr class="highlighted">
                    <td><img src="static/img/comment.svg"></td>
                    <td class="number">234</td>
                    <td>Comentarios</td>
                </tr>
                <tr>
                    <td><img src="static/img/expert.svg"></td>
                    <td class="number">59</td>
                    <td>Comentarios de expertos</td>
                </tr>
                <tr>
                    <td><img src="static/img/star_1.svg"></td>
                    <td class="number">39</td>
                    <td>Comentarios favoritos</td>
                </tr>
            </table>
            <p><img src="static/img/like 4.svg">A ellos les encanta tu idea y la quieren ya!</p>
        </div>
        <div class="mid-page left-align" id="greater-act">
            <p>Pivote con mayor actividad</p>
            <div class="left-center-align piv-simple">
                <div class="piv-history hover">
                    <p class="prev-pivote not simple">4</p>
                    <span class="prev" date="Enero 10, 2016" piv-num="4">Creado:</span>
                </div>
            </div>
            <div class="upper-cont">
                <div>
                    <p>45</p>
                    <img src="static/img/comment.svg">
                </div>
                <div>
                    <p>17</p>
                    <img src="static/img/expert.svg">
                </div>
                <div>
                    <p>11</p>
                    <img src="static/img/star_1.svg">
                </div>
                <div>
                    <p>28</p>
                    <img src="static/img/like 4.svg">
                </div>
            </div>

            <div class="form-description movil-p">
                <img src="static/img/Create Idea_idea.svg">
                <p> <span class="aqua-text">Idea</span>
                </p>
                <p class="tab-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                </p>

                <img src="static/img/Create Idea_problem.svg">
                <p> <span class="red-text">Problema</span>
                </p>
                <p class="tab-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                </p>
            </div>
        </div>
    </div>
    <script src="../../node_modules/chart.js/Chart.min.js"></script>
    <script src="../../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</body>
