<body class="hexagon-bg">
    <div class="fixed-background">
        <form class="centered-form" id="createIdea-form" action="index.html" method="post">
            <div class="step-img">
                <img src="/static/img/firstStep_Create Idea.svg">
            </div>
            <p class="gray-sub">Nueva Idea</p>
            <div class="form-input">
                <img src="/static/img/Create Idea_name.svg">
                <input type="text" name="signup-name" placeholder="Nombre de tu idea">
            </div>
            <div class="form-input">
                <img src="/static/img/Create Idea_tag.svg">
                <input type="text" name="signup-lastname" placeholder="3 categorías separadas por comas">
            </div>
            <input class="form-button" type="button" name="createIdea-button" value="Siguiente">
            <a href="#">
                <p class="form-cancel">Cancelar</p>
            </a>
        </form>
    </div>
</body>
