<div class="step-img">
    <img src="/static/img/secondStep_Create Idea.svg">
</div>
<p class="gray-sub">New Idea</p>
<div class="form-description">
    <img src="/static/img/Create Idea_idea.svg">
    <p>Describe your idea</p>
    <textarea name="description" class="" maxlength="300" placeholder="What do you have on mind? Tell us about your idea briefly  and concisely :)" ng-model="idea.description"></textarea>
    <p class="textarea-length">300</p>
</div>
<div class="form-description">
    <img src="/static/img/Create Idea_problem.svg">
    <p id="describe-problem-p">Does your idea resolve some <span class="red-text">problem</span>?</p>
    <div class="onoffswitch">
        <input ng-model="mySwitch" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" unchecked ng-model="idea.solveProblem">
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <div ng-show="mySwitch" id="show-problem">
        <textarea class="" name="problem" maxlength="300" placeholder="Which is the problem? Describe it." ng-model="idea.problem"></textarea>
        <p class="textarea-length ">300</p>
    </div>
</div>
<input class="form-button" type="button" name="description-button" value="Next" ui-sref="createIdea.third">
<a href="#">
    <p class="form-cancel">Cancel</p>
</a>
