<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav>
        <ul>
            <li class="nav-left">
                <img id="nav-wetopia-logo" src="/static/img/logo_ww.svg" alt="Wetopia" />
                <div class="discover-div aqua-text inner-nav">
                    <img id="discover-logo" src="/static/img/discover.svg" />
                    <ul>
                        <li id="first-nav-element"><img src="/static/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="/static/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="/static/img/persons.svg"><a href="#">Personas</a></li>
                        <li><img src="/static/img/discover_Hover.svg"><a href="#">Más</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-middle">
                <a href="/createIdea/first"><img id="idea-logo" src="/static/img/create.svg" /></a>
            </li>
            <li class="nav-right">
                <div class="display-inner">
                    <img id="notifications-icon" src="/static/img/Notify.svg">
                    <ul>
                        <p class="pt-h">Notifications</p>
                        <div class="scroll-list">
                            <li class="not-block says new"><img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Mary</span>
                                    <span class="like-4"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>1 min</span>
                                </p>
                            </li>
                            <li class="not-block commented new"><img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Mary</span>
                                    <span class="act-pivot"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>2 min</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Kevin</span>
                                    <span class="like-3"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>30 min</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Erick</span>
                                    <span class="like-2"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>2 days</span>
                                </p>
                            </li>
                            <li class="not-block commented"><img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Josh</span>
                                    <span class="prev-pivot">3</span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>10 days</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Pancho</span>
                                    <span class="like-1"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>1 month</span>
                                </p>
                            </li>

                        </div>
                    </ul>
                </div>
                <div class="inner-nav">
                    <img id="nav-user-img" src="/static/img/Create Idea_profilePhoto.svg" />
                    <ul>
                        <li>Mis:</li>
                        <li><img src="/static/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="/static/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="/static/img/profile.svg"><a href="#">Perfil</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-right">
                <div class="wrapper">
                    <input id="nav-search" type="search" name="navsearch" />
                    <i class="fa fa-search"></i>
                </div>
            </li>
        </ul>
    </nav>
    <div class="content">
        <div class="section">
            <div class="section-nav">
                <ul>
                    <li><a href="#">Populares</a></li>
                    <li><a href="#">Recomendados</a></li>
                    <li><a href="#">Cerca de ti</a></li>
                </ul>
            </div>
            <div class="cards-cont">
                <div class="card idea large">
                    <div class="card-img">
                    </div>
                    <div class="card-info ">
                        <div class="user">
                            <div class="left">
                                <img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>UserName</p>
                            </div>
                            <div class="right">
                                <img src="/static/img/idea_1.svg">
                            </div>
                        </div>
                        <p class="dark-title">Lorem ipsum dolor sitming elit</p>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="footer-nav">
                        <a href="#">Categoría 1</a>
                        <a href="#">Categoría 2</a>
                        <a href="#">Categoría 3</a>
                    </div>
                </div>

                <div class="card project large">
                    <div class="card-img">
                    </div>
                    <div class="card-info">
                        <div class="user">
                            <div class="left">
                                <img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>UserName</p>
                            </div>
                            <div class="right">
                                <img src="/static/img/proyect.svg">
                            </div>
                        </div>
                        <p class="dark-title">Lorem ipsum dolor sitming elit</p>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="footer-nav">
                        <a href="#">Categoría 1</a>
                        <a href="#">Categoría 2</a>
                        <a href="#">Categoría 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-nav">
                <ul>
                    <li><a href="#">Novedades</a></li>
                </ul>
            </div>
            <div class="cards-cont">
                <div class="card project short">
                    <div class="user">
                        <div class="left">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p>UserName</p>
                        </div>
                        <div class="right">
                            <img src="/static/img/proyect.svg">
                        </div>
                    </div>
                    <div class="card-img">
                    </div>
                    <div class="card-info">
                        <p class="dark-title">Lorem ipsum dolor sitming elit</p>
                        <div class="left">
                            <div class="upper-img">
                                <img src="/static/img/comment_Proyect.svg">
                                <p>11</p>
                            </div>
                            <div class="upper-img">
                                <img src="/static/img/expert_Proyect.svg">
                                <p>3</p>
                            </div>
                            <div class="upper-img">
                                <img src="/static/img/member_Proyect.svg">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card idea short">
                    <div class="user">
                        <div class="left">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p>UserName</p>
                        </div>
                        <div class="right">
                            <img src="/static/img/idea_1.svg">
                        </div>
                    </div>
                    <div class="card-img">
                    </div>
                    <div class="card-info">
                        <p class="dark-title">Lorem ipsum dolor sitming elit</p>
                        <div class="left">
                            <div class="upper-img">
                                <img id=c-icon src="/static/img/comment_Idea.svg">
                                <p>11</p>
                            </div>
                            <div class="upper-img">
                                <img src="/static/img/expert_Idea.svg">
                                <p>3</p>
                            </div>
                            <div class="upper-img">
                                <img src="/static/img/member_Idea.svg">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-nav">
                <ul>
                    <li><a href="#">Categorías</a></li>
                </ul>
            </div>
            <div class="center-container">
                <div class="category">
                    <div class="cat-img">
                    </div>
                    <p>Category</p>
                    <div class="darkness"></div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-nav">
                <ul>
                    <li><a href="#">Ideas que sigo</a></li>
                    <li><a href="#">Proyectos que sigo</a></li>
                </ul>
            </div>
            <div class="cards-cont">
                <div class="card idea large">
                    <div class="card-img">
                    </div>
                    <div class="card-info ">
                        <div class="user">
                            <div class="left">
                                <img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>UserName</p>
                            </div>
                            <div class="right">
                                <img src="/static/img/idea_1.svg">
                            </div>
                        </div>
                        <p class="dark-title">Lorem ipsum dolor sitming elit</p>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="footer-nav">
                        <a href="#">Categoría 1</a>
                        <a href="#">Categoría 2</a>
                        <a href="#">Categoría 3</a>
                    </div>
                </div>

                <div class="card project large">
                    <div class="card-img">
                    </div>
                    <div class="card-info">
                        <div class="user">
                            <div class="left">
                                <img src="/static/img/Create Idea_profilePhoto.svg">
                                <p>UserName</p>
                            </div>
                            <div class="right">
                                <img src="/static/img/proyect.svg">
                            </div>
                        </div>
                        <p class="dark-title">Lorem ipsum dolor sitming elit</p>
                        <p class="card-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="footer-nav">
                        <a href="#">Categoría 1</a>
                        <a href="#">Categoría 2</a>
                        <a href="#">Categoría 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
