<body>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <nav class="transparent-nav scroll-white static" >
        <a class=" logo "  href="/home"><img class=" logo nav-general" src="/static/img/logo_t.svg "></a>
        <div class="center-action">
          <p class="blue-text">CREATE</p>
          <a href="/createIdea/first"><img src="/static/img/create.svg"/></a>
          <p class="blue-text">IDEA</p>
        </div>
        <div class="right">
          <div class="display-inner">
              <img id="notifications-icon" ng-click="changeShowNotifications()" ng-src="{{notification?'/static/img/navigation-menu/ACT_Notif_Icon.svg':'/static/img/navigation-menu/Notif_Icon.svg'}}" >
              <ul ng-show="showNotifications" click-outside="showNotifications=false" outside-if-not="notifications-icon">
                  <p class="sub-gray">NOTIFICATIONS</p>
                  <div class="scroll-list" ng-class="{'flex-cont':!currentUser.notifications||currentUser.notifications.length==0}">
                    <div class="simple-cont" ng-show="!currentUser.notifications||currentUser.notifications.length==0">
                      <p  class="title-dark smaller disable">You have no notifications yet.</p>
                    </div>
                      <li class="not-block" ui-sref="myIdea({idea_id: notification.idea._id, pivotNumber: notification.pivot})" ng-repeat="notification in currentUser.notifications | orderBy:'_id':true" ng-class="{commented: notification.type == 'comment', says: notification.type != 'comment', new: !notification.seen}">
                        <div class="polygon-each-img-wrap">
                            <div class="polygon-clip-hexagon" ngf-background="notification.sender.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'"> <!--modify as create idea 3-->
                            </div>
                        </div>
                          <p>
                              <span class="name">{{notification.sender.name}}</span>
                              <span ng-show="notification.type!='comment'" ng-class="{like4 : notification.type == 'money', like3 : notification.type == 'love', like2 : notification.type == 'like', like1 : notification.type == 'dislike'}"></span>
                              <span class="prev-pivot" ng-class="{first: notification.pivot == 1, second: notification.pivot == 2, third: notification.pivot == 3}">{{notification.pivot}}</span>
                              <span class="on">{{notification.idea.name}}</span>

                          </p>
                      </li>
                  </div>
              </ul>
          </div>
          <div class="inner-nav">
              <div class="polygon-each-img-wrap">
                  <div class="polygon-clip-hexagon" ng-click="changeShowMenu()" id="profile-picture" ngf-background="currentUser.image || '/static/img/navigation-menu/User_ICON.svg'" > <!--modify as create idea 3-->
                  </div>
              </div>
              <ul ng-show="showUserMenu" click-outside="showUserMenu=false" outside-if-not="profile-picture">
                <div class="flex-cont user-menu">
                  <div class="sup-cont">
                    <p class="gray-dark">{{currentUser.username}}</p>
                    <p class="gray-lighter small bottom">{{currentUser.email}}</p>
                  </div>
                  <p ui-sref="myProfile">My Profile</p>
                  <a class="nav-txt" ng-href="/myProfile/ideas">My Ideas</a>
                  <!-- <p>Settings</p> -->
                  <p class="gray-lighter" ng-click="logOut()">Log Out</p>
                </div>
              </ul>
          </div>
        </div>
    </nav>
    <svg class="clip-svg">
  <defs>
    <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
      <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
    </clipPath>
  </defs>
</svg>

    <div class="idea-info">
      <div class="flex-cont row wrap">
        <div class="flex-cont mid-page">
            <div class="idea-header">
                <p class="idea-title">{{idea.name}}
                </p>
                <div class="idea-header-info">
                    <p>Created by </p>
                    <div class="select-team">
                      <div class="tooltip" ng-repeat="member in idea.members">
                          <div class="polygon-each-img-wrap">
                              <div class="polygon-clip-hexagon" ngf-background="member.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'" >
                              </div>
                          </div>
                          <p class="tooltiptext">{{member.username}}</p>
                      </div>
                      <!--  <img id="add-members" src="/static/img/Create Idea_add.svg" ng-click="inputTeamMembers=true">-->
                    </div>
                    <p> and located in </p>
                    <img id="location-img" src="/static/img/location_Idea.svg">
                    <span class="blue-text"> México
        </span>
                </div>

                <div class="inner-nav selector">
                    <input type="text" class="color-button blue left selector" ng-class="{first: pivotSelected == 1, second: pivotSelected == 2}" id="select-pivot" ng-click="changeShowPivots()" name="pivot-selector" ng-model="pivotSelected" readonly="readonly" >
                    <ul class="selectorType" ng-show="showPivots" click-outside="showPivots=false" outside-if-not="select-pivot">
                      <div class="flex-cont user-menu">
                        <li ng-repeat="pivot in idea.pivots" class="numeration" ng-class="{first: pivot.number == 1, second: pivot.number == 2, third: pivot.number == 3}" ng-style="currentPivot==pivot.number && {'color': '#00A8CB'}" ng-click="getIdea(pivot.number)" ng-bind="pivot.number"></li>
                      </div>
                    </ul>
                </div>
            </div>



            <div class="form-description movil-p">
                <img class="big-img" src="/static/img/Create Idea_idea.svg">
                 <p class="form-subtitle color"><span class="big-txt aqua-text">Idea</span>
                </p>
                <p class="tab-paragraph">
                    {{pivot.description}}
                </p>

                <div class="simple-cont" ng-show="pivot.problem">
                <img class="big-img" src="/static/img/Create Idea_problem.svg">
                <p class="form-subtitle color"> <span class="big-txt red-text">Problem</span>
                </p>
                <p class="tab-paragraph">
                    {{pivot.problem}}
                </p>
              </div>
            </div>
        </div>
        <div class="mid-page flex-cont">
            <div class="idea-img" ngf-background="idea.banner || '/static/img/Image_default.svg'">
            </div>
        </div>
          </div>
            <div class="flex-cont row wrap">
        <div class="flex-cont mid-page left-align pad-left">

              <div class="form-description movil-p no-padding">
                 <p class="form-subtitle color"><span class="big-txt aqua-text">Give feedback</span>
                </p>
                  <textarea name="feedback-textarea" class="feedback" maxlength="300" ng-model="newComment" placeholder="What do you think about this idea and the current pivot? What would make it better?" ></textarea>
                  <a class="color-button blue right complete-form send-feedback-btn" ng-click="giveFeedback()">Publish</a>
              </div>

            <p class="black-medium bolder">Current Pivot Feedback</p>
            <div class="comments flex-cont">
              <div class="simple-margin-top" ng-show="pivot.feedback.length==0">
                <p  class="title-dark disable">Be the first comment.</p>
              </div>
              <div class="comment flex-box" ng-repeat="comment in pivot.feedback" >
                <div class="flex-cont comment-top">
                  <div class="polygon-each-img-wrap">
                      <div class="polygon-clip-hexagon" ngf-background="comment.user.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'">
                      </div>
                  </div>
                  <p class="name" ng-bind="comment.user.name"></p>
                  <p class="username" ng-bind="comment.user.username"></p>
                  <img class="star-img" ng-src="{{comment.stars.length > 0 && '/static/img/starActive_Idea.svg' || '/static/img/starDis_Idea.svg'}}" ng-click="giveStarToFeedback(comment._id, $index)">
                  <p class="star" ng-bind="comment.stars.length"></p>
                  <a class="delete right" ng-click="wantoToDeleteFeedback(comment._id, $index)" ng-if="currentUser.username == comment.user.username">  &times </a>
                </div>
                <div class="tab-paragraph" ng-bind="comment.comment">
                </div>
            </div>
            </div>
        </div>

        <div class="flex-cont mid-page left-align pad-left" ng-show="interestShowed">
          <p class="sub-gray smaller-font">THANKS FOR YOUR OPINION!</p>
          <p class="medium light no-margin centered">WE'LL CONSIDER IT FOR OUR LATEST UPDATES!</p>
        </div>


        <div class="flex-cont mid-page left-align pad-left" ng-show="!interestShowed">
            <p class="black-medium dark">How good is this idea?</p>
            <div id="res-statistics" class="left-align">
                <table class="right-num">
                    <tr>
                        <td ng-click="changeLike('money')"><img class="pointer" ng-src="{{like=='money'?'/static/img/Likes/noti_like 4.svg':'/static/img/Likes/like 4_Active.svg'}}"></td>
                        <td>I would buy it</td>
                    </tr>
                    <tr>
                        <td  ng-click="changeLike('love')"><img class="pointer" ng-src="{{like=='love'?'/static/img/Likes/noti_like 3.svg':'/static/img/Likes/like 3_Active.svg'}}"></td>
                        <td>Love it</td>
                    </tr>
                    <tr>
                        <td ng-click="changeLike('like')"><img class="pointer" ng-src="{{like=='like'?'/static/img/Likes/noti_like 2.svg':'/static/img/Likes/like 2_Active.svg'}}"></td>
                        <td>Not bad</td>
                    </tr>
                    <tr>
                        <td ng-click="changeLike('dislike')"><img class="pointer" ng-src="{{like=='dislike'?'/static/img/Likes/noti_like 1.svg':'/static/img/Likes/like 1_Active.svg'}}"></td>
                        <td>I don't like it</td>
                    </tr>
                </table>
                <div class="form-input" ng-show="likeFeedback" >
                  <input type="text" name="why-like" placeholder="Why?" ng-model="whyInterest" required="true">
                  <a class="color-button blue right complete-form send-feedback-btn"  href="" ng-click="giveLike()">Send</a>
                </div>
            </div>
          </div>

        </div>
    </div>
    </div>


    <div class="footer flex-cont">
      <div class="left">
        <a href="/home" class="small">Home</a>
        <a href="/myProfile" class="small">My Profile</a>
        <a href="/createIdea/first" class="small">Create Idea</a>
        <a href="/myProfile/ideas" class="small">My Ideas</a>
      </div>
      <div class="icons">
        <img src="/static/img/wetopia_dark.png">
        <div class="simple-cont">
          <a href="https://www.facebook.com/wetopiaCo/" target="_blank" ><img src="/static/img/fb_icon_dark.svg"></a>
          <a href="https://twitter.com/wetopiaco" target="_blank" ><img src="/static/img/twitter.svg"></a>
          <a href="https://www.instagram.com/wetopia.co/" target="_blank" ><img src="/static/img/instagram_dark.svg"></a>
          <!--<a href="#"><img src="/static/img/snap_dark.svg"></a>-->
        </div>

      </div>
      <div class="right">
        <p class="medium-bold">Wetopia (c) 2017</p>
        <a href="/blog" class="small">Blog</a>
        <!--
        <p class="small">Terms & Conditions</p>
        <p class="small">Privacy Policy</p>
        <p class="small">Ethics Code</p>
        -->
      </div>
    </div>


    <div class="flex-modal white" ng-show="wantToDeleteComment">
        <div class="centered-form modal-form complete width-500" click-outside="wantToDeleteComment=false" outside-if-not="delete">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="wantToDeleteComment=false">&times</p>
                <p class="sub-gray medium-margin">DELETE A COMMENT</p>
                <p class="simple-paragraph lighter">Are you sure you want to delete this comment?</p>
                <div class="flex-cont row eighty">
                    <a class="color-button blue complete-form discard no-bottom" id="yes-delete-comment"  ng-click="deleteFeedback()">Yes, Delete it</a>
                </div>
                <a href="" class="medium-bold gray less-top lighter-font pointer" ng-click="wantToDeleteComment=false">Cancel</a>
            </div>
        </div>
    </div>

    <div class="flex-modal white" ng-show="deletedComment">
        <div class="centered-form modal-form complete" click-outside="deletedComment=false" outside-if-not="yes-delete-comment">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="deletedComment=false">&times</p>
                <p class="sub-gray medium-margin">DELETED</p>
                <div class="simple-cont margin">
                    <p class="medium light no-margin">Your comment has been deleted.</p>
                </div>
            </div>
        </div>
    </div>

</body>
