<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <link rel="apple-touch-icon" href="/static/img/wetopia_w.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-startup-image" href="/static/img/wetopia_w.png">
    <link rel="stylesheet" href="/static/css/master.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/static/img/wetopia_w.png" />

    <!-- SEO Stuff -->
    <title>WeMeep</title>

</head>

<body ng-app="wetopiaApp" ng-class="{ app: app }" ui-view>
    <script src="/bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>

</body>
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="https://cdn.optimizely.com/js/8311684582.js"></script>
<script src="/static/js/bundle.js" charset="utf-8"></script>
</html>
