<body>
    <nav class="transparent-nav">
        <img class="logo" src="/static/img/logo_ww.svg">
        <p class="logo-word">
            <red>WE</red>
            <blue>TOPIA</blue>
        </p>
        <a class="margin-button blue" href="#">Login</a>
    </nav>
    <div class="main-cont">
        <div class="flex-cont">
            <div class="sub-cont">
                <blue class="subtitle">This utopia will help you to create your new startup</blue>
                <a class="blue-button" id="join-button" href="#">Join</a>
            </div>


        </div>



    </div>

</body>
</div>

</body>
