  <body ng-app="musementApp" ui-view>
    <main>
      <div class="head">
        <div class="hexagon">
          <img src="/static/img/logo_ww.svg" alt="Wetopia" />
          <div class="title_hexagon">
            <h1>Wetopia</h1>
            <h2>
              Te ayudamos a crear tu Startup
            </h2>
          </div>
          <div class="form_hexagon" id="top">
            <p>
              ¿Quieres ser parte?.
            </p>
             <input ng-model="guest.name" type="text" class="dark-input" name="name" value="" placeholder="Nombre" id="name-input" required="true">
             <input ng-model="guest.email" type="email" class="dark-input" name="email" value="" placeholder="Correo" id="email-input" required="true">
             <select ng-model="guest.preference" required="true">
                 <option value="" disabled selected>¿En qué estás más interesado?</option>
                  <option value="validate">Validar Idea/Proyecto</option>
                  <option value="team">Encontrar Equipo</option>
                  <option value="mentorship">Mentoría</option>
                  <option value="investment">Inversión</option>
              </select>
              <input type="button" name="submit" value="Quiero ser parte" id="submit-button" ng-click="submit(guest)">
              <div role="alert" class="error">
                <!-- <span>Listo, checa tu correo :)</span> -->
              </div>
          </div>
          <div class="head_text">
            <p>
              Como <span>emprendedores</span>, nosotros entendemos los problemas que surgen al crear una

              <span>StartUp</span>, es por eso que queremos darte el espacio para ayudarte a construir una empresa exitosa.
            </p>
            <p>
              Queremos formar una comunidad para <span>Compartir</span> y <span>Ayudar</span> a <span>emprendedores</span> durante todo el proceso.
            </p>
          </div>
        </div>

      </div>
        <!-- End Head  -->

        <!-- Start Idea -->
        <div class="step-landing">
          <div class="step_title">
            <img src="/static/img/idea.svg" alt="" />
            Idea
          </div>
          <div class="step_image">
            <img src="/static/img/idea_h.png" alt="" />
          </div>
          <div class="step_text">
            <p>
              Todo comienza con una <span class="brown">idea</span>, aquí es donde tú decides que quieres hacer algo y compartes lo que te gustaría hacer. Nosotros, como comunidad, te damos retroalimentación para ayudarte a validar tu <span class="brown">idea</span>.

              <p>
                Este es el lugar donde te das cuenta si tu idea funciona y si puedes desarrollarla hacia un <span class="red">Proyecto</span>.
              </p>
            </p>
          </div>
        </div>
        <!-- End Idea -->

        <!-- Start Project -->
        <div class="step-landing">
          <div class="step_title" id="project-title_inverse">
            <img src="/static/img/project.svg" alt="" />
            Proyecto
          </div>
          <div class="step_image" id="project-image_inverse">
            <img src="/static/img/project_h.png" alt="" />
          </div>
          <div class="step_text" id="project-text_inverse">
            <p>
              En el <span class="red">Proyecto</span>, puedes validar áreas específicas acerca de cómo va a ser tu <span class="blue">StartUp</span>. Por ejemplo, puedes validar el diseño, el producto, el wireframe, la campaña de marketing; y profesionales te darán retroalimentación para que puedas tomar las decisiones correctas.
            </p>
          </div>
        </div>
        <!-- End Project -->

        <!-- Start Team -->
        <div class="step-landing">
          <div class="step_title">
            <img src="/static/img/team.svg" alt="" />
            Equipo
          </div>
          <div class="step_image">
            <img src="/static/img/team_h.png" alt="" />
          </div>
          <div class="step_text">
            ¡Construir una <span class="blue">StartUp</span> consiste en <span>Ayudar</span> y <span>Compartir</span>, es por eso que te alentamos a encontrar un Equipo!
            <p>
              No se trata solamente de encontrar un diseñador, programador o vendedor. Se trata de encontrar personas que comparten tu visión y se apasionan por tu proyecto.
            </p>
          </div>
        </div>
        <!-- End Team -->
        <!-- divisor -->
        <div class="divisor left"></div>
        <!-- divisor -->
        <!-- Start SecondForm -->
        <div class="secondForm">
          <div class="balloons">
            <img src="/static/img/balloons.svg" alt="" />
          </div>
          <div class="secondForm_text">
            ¡Bueno, eso es todo por ahora!
          </div>
          <div class="secondForm_text-second">
            <p>
              Si te gustaría formar parte de nuestra comunidad regístrate y en cuanto iniciemos operaciones serás el primero en saber.
            </p>
          </div>
          <div class="form_hexagon">
            <input type="text" class="secondForm_form" name="name" placeholder="Nombre">
            <input type="email" class="secondForm_form" name="email" placeholder="Correo">
            <select class="secondForm_form" name="">
              <option disabled selected value>¿Qué Necesitas?</option>
              <option value="validate">Validar Idea / Proyecto</option>
              <option value="team">Encontrar Equipo</option>
              <option value="advice">Asesoría</option>
              <option value="investment">Inversión</option>
            </select>
            <input type="submit" id="secondForm_button" name="send" value="Quiero ser parte">
          </div>
        </div>
        <!-- End SecondForm -->

        <!-- divisor -->
          <div class="divisor"></div>
        <!-- divisor -->

        <!-- Start footer -->
        <div class="community">
          <p>
            ¡Queremos tener la comunidad de emprendedores más grande del mundo y queremos que formes parte de ella, así que recuerda,
          </p>
          <h3>... Comparte y Ayuda!</h3>
          <div class="social">
            <div class="social_icon">
              <a href="https://www.facebook.com/wetopiaCo"><img src="/static/img/fb.svg" alt="" /></a>
            </div>
            <div class="social_icon">
              <a href="https://twitter.com/WetopiaCo"><img src="/static/img/tw.svg" alt="" /></a>
            </div>
            <!-- <div class="social_icon">
              <a href="#"><img src="/static/img/snap.svg" alt="" /></a>
            </div> -->
          </div>
        </div>
        <!-- End footer -->

    </main>
  </body>
