<body>
    <div class="fixed-background hexagon-bg">
        <form class="centered-form" action="index.html" method="post">
            <div class="upper-text-form">
                <a href="/signup/first">
                    <p>Registrarse</p>
                </a>
            </div>
            <div class="logo-img">
                <img src="/static/img/logo_ww.svg" alt="Wetopia">
            </div>
            <p class="gray-sub">Iniciar Sesión</p>
            <div class="form-input">
                <img src="/static/img/Login_mail.svg">
                <input type="text" name="login-email" placeholder="Email" ng-model="user.username">
            </div>
            <div class="form-input">
                <img src="/static/img/Login_pass.svg">
                <input type="password" name="login-password" placeholder="Contraseña" ng-model="user.password">
            </div>
            <input class="form-button" type="button" name="login-button" value="Entrar" ng-click="login()">
        </form>
    </div>
</body>
