<body>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <nav class="transparent-nav scroll-white static" >
        <a class=" logo "  href="/home"><img class=" logo nav-general" src="/static/img/logo_t.svg "></a>
        <div class="center-action">
          <p class="blue-text">CREATE</p>
          <a href="/createIdea/first"><img src="/static/img/create.svg"/></a>
          <p class="blue-text">IDEA</p>
        </div>
        <div class="right">
          <div class="display-inner">
              <img id="notifications-icon" ng-click="changeShowNotifications()" ng-src="{{notification?'/static/img/navigation-menu/ACT_Notif_Icon.svg':'/static/img/navigation-menu/Notif_Icon.svg'}}" >
              <ul ng-show="showNotifications" click-outside="showNotifications=false" outside-if-not="notifications-icon">
                  <p class="sub-gray">NOTIFICATIONS</p>
                  <div class="scroll-list" ng-class="{'flex-cont':!currentUser.notifications||currentUser.notifications.length==0}">
                    <div class="simple-cont" ng-show="!currentUser.notifications||currentUser.notifications.length==0">
                      <p  class="title-dark smaller disable">You have no notifications yet.</p>
                    </div>
                      <li class="not-block" ui-sref="myIdea({idea_id: notification.idea._id, pivotNumber: notification.pivot})" ng-repeat="notification in currentUser.notifications | orderBy:'_id':true" ng-class="{commented: notification.type == 'comment', says: notification.type != 'comment', new: !notification.seen}">
                        <div class="polygon-each-img-wrap">
                            <div class="polygon-clip-hexagon" ngf-background="notification.sender.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'"> <!--modify as create idea 3-->
                            </div>
                        </div>
                          <p>
                              <span class="name">{{notification.sender.name}}</span>
                              <span ng-show="notification.type!='comment'" ng-class="{like4 : notification.type == 'money', like3 : notification.type == 'love', like2 : notification.type == 'like', like1 : notification.type == 'dislike'}"></span>
                              <span class="prev-pivot" ng-class="{first: notification.pivot == 1, second: notification.pivot == 2, third: notification.pivot == 3}">{{notification.pivot}}</span>
                              <span class="on">{{notification.idea.name}}</span>

                          </p>
                      </li>
                  </div>
              </ul>
          </div>
          <div class="inner-nav">
              <div class="polygon-each-img-wrap">
                  <div class="polygon-clip-hexagon" ng-click="changeShowMenu()" id="profile-picture" ngf-background="currentUser.image || '/static/img/navigation-menu/User_ICON.svg'" > <!--modify as create idea 3-->
                  </div>
              </div>
              <ul ng-show="showUserMenu" click-outside="showUserMenu=false" outside-if-not="profile-picture">
                <div class="flex-cont user-menu">
                  <div class="sup-cont">
                    <p class="gray-dark">{{currentUser.username}}</p>
                    <p class="gray-lighter small bottom">{{currentUser.email}}</p>
                  </div>
                  <p ui-sref="myProfile">My Profile</p>
                  <a class="nav-txt" ng-href="/myProfile/ideas">My Ideas</a>
                  <!-- <p>Settings</p> -->
                  <p class="gray-lighter" ng-click="logOut()">Log Out</p>
                </div>
              </ul>
          </div>
        </div>
    </nav>
    <svg class="clip-svg">
  <defs>
    <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
      <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
    </clipPath>
  </defs>
</svg>

    <div class="idea-info">
        <div class="flex-cont row wrap">
            <div class="flex-cont mid-page" id="myIdeaEditor">
              <img class="edit-icon top" src="/static/img/lapiz.svg"  ng-show="!editIdea" ng-click="editIdea=true">
                <div class="idea-header">
                    <p ng-show="!editIdea" class="idea-title">{{idea.name}}
                    </p>
                    <div ng-show="editIdea" class="simple-cont width-100">
                    <input  type="text" ng-click="scope.ideaNameError=false" name="edit-idea-name-input" class="simple-input title-dark bigger" placeholder="Idea Name" ng-model="idea.name">
                    <p class="red-text error less-25 left-0" ng-show="ideaNameError">Please add a title for your idea.</p>
                    </div>

                    <div class="idea-header-info">
                        <p>Created by </p>
                        <div class="select-team">
                          <div class="tooltip">
                              <div class="polygon-each-img-wrap">
                                  <div class="polygon-clip-hexagon" ngf-background="idea.admin.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'" >
                                  </div>
                              </div>
                              <p class="tooltiptext">{{idea.admin.username}}</p>
                          </div>
                          <div class="tooltip" ng-repeat="member in members" ng-show="member.username != idea.admin.username">
                              <div class="polygon-each-img-wrap">
                                  <div class="polygon-clip-hexagon" ngf-background="member.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'" >
                                  </div>
                              </div>
                              <p class="tooltiptext">{{member.username}}</p>
                          </div>
                             <img ng-show="editIdea" id="add-members" src="/static/img/Create Idea_add.svg" ng-click="inputTeamMembers=true">
                        </div>
                        <p> and located in </p>
                        <img id="location-img" src="/static/img/location_Idea.svg">
                        <span ng-show="!editIdea" class="blue-text" ng-bind="idea.country||'Add a country'"></span>
                          <input type="text" ng-show="editIdea" name="edit-idea-location-input" class="simple-input small-blue" placeholder="Location" ng-model="idea.country">

                    </div>

                    <div class="inner-nav selector">
                      <input type="text" class="color-button blue left selector"  id="select-pivot" ng-click="changeShowPivots()" name="pivot-selector" ng-model="pivotSelected" readonly="readonly" >
                      <ul class="selectorType" ng-show="showPivots" click-outside="showPivots=false" outside-if-not="select-pivot">
                        <div class="flex-cont user-menu">
                          <li ng-repeat="pivot in idea.pivots" class="numeration" ng-class="{first: pivot.number == 1, second: pivot.number == 2, third: pivot.number == 3}" ng-style="currentPivot==pivot.number && {'color': '#00A8CB'}" ng-click="getIdea(pivot.number)" ng-bind="pivot.number"></li>
                                <p class="dark" id="new-pivot" ng-click="createPivot()">+ New Pivot</p>
                            </div>
                        </ul>
                    </div>
                </div>



                <div class="form-description movil-p">
                    <img class="big-img" src="/static/img/Create Idea_idea.svg">
                    <p class="form-subtitle color"><span class="big-txt aqua-text">Idea</span>
                    </p>
                    <p ng-show="!editIdea" class="tab-paragraph">
                        {{pivot.description}}
                    </p>
                    <div class="simple-cont width-100" ng-show="editIdea">
                    <textarea maxlength="600"  name="idea-textarea" class="feedback no-outline indent" placeholder="What's your idea about?" ng-click="descriptionError=false" ng-model="pivot.description"></textarea>
                    <p class="textarea-length">600</p>
                    <p class="red-text error less-15 left textarea" ng-show="descriptionError">Please add a description of your idea.</p>
                    </div>

                    <div class="simple-cont width-100" ng-show="pivot.problem || editIdea">
                    <img class="big-img" src="/static/img/Create Idea_problem.svg">
                    <p class="form-subtitle color"> <span class="big-txt red-text">Problem</span>
                    </p>
                    <p ng-show="!editIdea" class="tab-paragraph">
                      {{pivot.problem}}
                    </p>
                    <textarea maxlength="600" ng-show="editIdea" name="idea-textarea" class="feedback no-outline indent" placeholder="Does your idea solve an issue? Which one?" ng-model="pivot.problem"></textarea>
                    <p class="textarea-length" ng-show="editIdea">600</p>
                  </div>

                  <a class="color-button blue left no-bottom border-radius-6 indent"  ng-show="editIdea" ng-click="updateIdea()" href="">Done</a>
                </div>
            </div>
            <div class="mid-page flex-cont">
              <input id="idea-input-banner" type="file" ng-disabled="!editIdea" ngf-select name="file" ng-model="idea.banner" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" />
                <label for="idea-input-banner" class="idea-img"  ng-style="editIdea && {'cursor': 'pointer'}" ngf-background="idea.banner ||  getBannerImage(idea.category.name)">
              </label>
            </div>
        </div>
        <div class="flex-cont row wrap">
            <div class="flex-cont mid-page left-align pad-left">
                <p class="black-medium bolder">Current Pivot Feedback</p>
                <div class="comments flex-cont">
                  <div class="simple-margin-top" ng-show="pivot.feedback.length==0||pivot.feedback.length==undefined">
                    <p  class="title-dark disable">No comments yet.</p>
                  </div>

                <div class="comment flex-box" ng-repeat="comment in pivot.feedback" >
                  <div class="flex-cont comment-top">
                    <div class="polygon-each-img-wrap">
                        <div class="polygon-clip-hexagon" ngf-background="comment.user.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'">
                        </div>
                    </div>
                    <p class="name" ng-bind="comment.user.name"></p>
                    <p class="username" ng-bind="comment.user.username"></p>
                    <img class="star-img" ng-src="{{comment.stars.length > 0 && '/static/img/starActive_Idea.svg' || '/static/img/starDis_Idea.svg'}}" ng-click="giveStarToFeedback(comment._id, $index)">
                    <p class="star" ng-bind="comment.stars.length"></p>
                  </div>
                  <div class="tab-paragraph" ng-bind="comment.comment">
                  </div>
              </div>
                </div>
            </div>


            <div class="flex-cont mid-page left-align pad-left">
                <p class="black-medium dark">This is what people think of your idea</p>
                <div id="res-statistics" class="left-align">
                    <table class="right-num">
                        <tr>
                            <td><img src="/static/img/like 4_Hover.svg"></td>
                            <td class="number">{{pivot.stats.money}}</td>
                            <td>would buy it</td>
                        </tr>
                        <tr>
                            <td><img src="/static/img/like 3_Hover.svg"></td>
                            <td class="number">{{pivot.stats.love}}</td>
                            <td>love it</td>
                        </tr>
                        <tr>
                            <td><img src="/static/img/like 2_Hover.svg"></td>
                            <td class="number">{{pivot.stats.like}}</td>
                            <td>think it's not bad</td>
                        </tr>
                        <tr>
                            <td><img src="/static/img/like 1_Hover.svg"></td>
                            <td class="number">{{pivot.stats.dislike}}</td>
                            <td>don't like it</td>
                        </tr>
                    </table>

                </div>
                <!-- <a class="color-button right blue myIdea" href="">See detailed stats</a>
                <a class="color-button right blue myIdea" href="">Turn it into a project</a> -->
                <a class="color-button right red myIdea" id="discard-btn" ng-click="wantToDiscard=true" href=""> Discard this idea</a>
            </div>

        </div>
    </div>
    </div>


    <div ng-show="pivoting" class="flex-modal white " id="Pivotear-modal">
        <div class="centered-form modal-form complete" click-outside="pivoting=false" outside-if-not="new-pivot">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="pivoting=false">&times</p>
                <p class="sub-gray medium-margin">NEW PIVOT</p>
                <div class="flex-cont left-align">
                    <p class="lighter-gray">Previous Pivots</p>
                    <div class="inner-nav selector">
                      <input type="text" class="color-button blue left selector"  id="select-pivot" ng-click="changeShowPivotsModal()" name="pivot-selector" ng-model="pivotSelected" readonly="readonly" >
                      <ul class="selectorType" ng-show="showPivotsModal" click-outside="showPivotsModal=false" outside-if-not="select-pivot">
                        <div class="flex-cont user-menu">
                          <li ng-repeat="pivot in idea.pivots" class="numeration" ng-class="{first: pivot.number == 1, second: pivot.number == 2, third: pivot.number == 3}" ng-style="currentPivot==pivot.number && {'color': '#00A8CB'}"  ng-click="getIdea(pivot.number)" ng-bind="pivot.number"></li>

                            </div>
                        </ul>
                    </div>
                </div>
                <div class="flex-cont row">
                    <div class="form-description movil-p">
                        <img class="big-img" src="/static/img/Create Idea_idea.svg">
                        <p class="form-subtitle color"><span class="big-txt aqua-text">Idea
                   <img class="duplicate-idea-img" src="/static/img/Duplicate_Idea.svg" ng-click="copy('idea')"></span>
                        </p>
                        <p class="normal-paragraph">
                          {{pivot.description}}
                        </p>
                    </div>
                    <div class="form-description movil-p">
                        <img class="big-img" src="/static/img/Create Idea_problem.svg">
                        <p class="form-subtitle color"> <span class="big-txt red-text">Problem
                  <img class="duplicate-idea-img" src="/static/img/Duplicate_Idea.svg" ng-click="copy('problem')"></span>
                        </p>
                        <p class="normal-paragraph">
                          {{pivot.problem}}
                        </p>
                    </div>
                </div>
                <div class="flex-cont row left-align">
                    <blue class="text-left">New Pivot</blue>
                </div>
                <div class="flex-cont row textarea">
                    <div class="form-description movil-p ">
                        <img class="big-img" src="/static/img/Create Idea_idea.svg">
                        <p class="form-subtitle color"><span class="big-txt aqua-text">Idea</span>
                        </p>
                        <p class="red-text error bottom-0" ng-show="pivotDescriptionError">Please add a description of your idea.</p>
                        <textarea name="description" class="" ng-model="newIdea" maxlength="600" ng-click="pivotDescriptionError = false" placeholder="What's new on this pivot? How has your idea improved?"></textarea>
                        <p class="textarea-length">600</p>
                    </div>
                    <div class="form-description movil-p ">
                        <img class="big-img" src="/static/img/Create Idea_problem.svg">
                        <p class="form-subtitle color"> <span class="big-txt red-text">Problem</span>
                        </p>
                        <textarea name="description" class="" ng-model="newProblem" maxlength="600" placeholder="What's new on this pivot? How has your idea improved?"></textarea>
                        <p class="textarea-length">600</p>
                    </div>
                </div>
                <a class="color-button blue complete-form" href="" ng-click="createNewPivot()">Pivot</a>
            </div>
        </div>
    </div>


    <div class="footer flex-cont">
      <div class="left">
        <a href="/home" class="small">Home</a>
        <a href="/myProfile" class="small">My Profile</a>
        <a href="/createIdea/first" class="small">Create Idea</a>
        <a href="/myProfile/ideas" class="small">My Ideas</a>
      </div>
      <div class="icons">
        <img src="/static/img/wetopia_dark.png">
        <div class="simple-cont">
          <a href="https://www.facebook.com/wetopiaCo/" target="_blank" ><img src="/static/img/fb_icon_dark.svg"></a>
          <a href="https://twitter.com/wetopiaco" target="_blank" ><img src="/static/img/twitter.svg"></a>
          <a href="https://www.instagram.com/wetopia.co/" target="_blank" ><img src="/static/img/instagram_dark.svg"></a>
          <!--<a href="#"><img src="/static/img/snap_dark.svg"></a>-->
        </div>

      </div>
      <div class="right">
        <p class="medium-bold">Wetopia (c) 2017</p>
        <a href="/blog" class="small">Blog</a>
        <!--
        <p class="small">Terms & Conditions</p>
        <p class="small">Privacy Policy</p>
        <p class="small">Ethics Code</p>
        -->
      </div>
    </div>


    <div class="flex-modal white" ng-show="wantToDiscard">
        <div class="centered-form modal-form complete" click-outside="wantToDiscard=false" outside-if-not="discard-btn">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="wantToDiscard=false">&times</p>
                <p class="sub-gray medium-margin">DISCARD</p>
                <p class="simple-paragraph lighter">Are you sure you want to discard completely this idea?</p>
                <!-- <p class="medium light no-margin">You can also save it to get back to it later.</p> -->
                <div class="flex-cont row eighty">
                    <a class="color-button blue complete-form discard no-bottom" id="yes-delete" ng-click="toDelete()">Yes</a>
                    <!-- <a class="color-button blue complete-form discard" id="save-idea" href="" ng-click="saveIdea()">Save it</a> -->
                </div>
                <a class="medium-bold gray less-top lighter-font pointer" ng-click="wantToDiscard=false">Cancel</a>
            </div>
        </div>
    </div>

    <div class="flex-modal white" ng-show="whyDiscard">
        <div class="centered-form modal-form complete" click-outside="whyDiscard = false" outside-if-not="yes-delete">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="whyDiscard = false">&times</p>
                <p class="sub-gray medium-margin bottom">DISCARD</p>
                <p class="medium light no-margin">We're sorry to see your idea go.</p>
                <p class="medium light no-margin">Can you tell us more of why you chose</p>
                <p class="medium light no-margin">to get rid of it?</p>
                <textarea name="why-discard" class="justify-textarea"  ng-model="whyDeleted" placeholder="Tell us about your experience. "></textarea>
                <div class="flex-cont row">
                    <a class="color-button blue complete-form discard no-bottom" id="discard-btn" ng-click="deleteIdea()">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-modal white" ng-show="discarded">
        <div class="centered-form modal-form complete" click-outside="goHome('discarded')" outside-if-not="discard-btn">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="goHome('discarded')">&times</p>
                <p class="sub-gray medium-margin">DISCARDED</p>
                <div class="simple-cont margin">
                    <p class="medium light no-margin">Your idea has been deleted.</p>
                    <p class="medium light no-margin">We've received your comments and</p>
                    <p class="medium light no-margin">hope you have many more ideas to</p>
                    <p class="medium light no-margin">start developing in Wetopia.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-modal white" ng-show="saved">
        <div class="centered-form modal-form complete" click-outside="saved=false" outside-if-not="save-idea">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="saved=false">&times</p>
                <p class="sub-gray medium-margin">SAVED</p>
                <div class="simple-cont margin">
                    <p class="medium light no-margin">Your idea has been saved.</p>
                    <p class="medium light no-margin">It is now unactive within your ideas tab</p>
                    <p class="medium light no-margin">you can re-activate it later on to keep</p>
                    <p class="medium light no-margin">working on it.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="flex-modal white alert-modal" ng-show="inputTeamMembers">
        <div class="centered-form modal-form" id="input-team-members" click-outside="inputTeamMembers=false" outside-if-not="add-members create-team-img tag-project">
            <div class="flex-cont create-cont">
                <p class="close-x" ng-click="inputTeamMembers=false">x</p>
                <p class="sub-gray medium-margin no-bottom">ADD YOUR TEAM</p>
                <tags-input id="team-members-tags" ng-model="members" key-property="_id" display-property="name" placeholder="Add Member" replace-spaces-with-dashes="false" max-tags="3" min-length="0" add-from-autocomplete-only="true" template="tag-project">
                    <auto-complete highlight-matched-text="false" source="loadMembers($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="35" template="autocomplete-project"></auto-complete>
                </tags-input>


                <script type="text/ng-template" id="tag-project">
                    <div class="tag-template">
                        <div class="polygon-each-img-wrap">
                            <div class="user-team-img polygon-clip-hexagon"  ngf-background="data.image || '/static/img/Default_Profile_IMG.svg'">
                            </div>
                        </div>
                        <p class="name-tag">{{$getDisplayText()}}</p>
                        <img class="create-team-img remove-pic" src="/static/img/Create Idea_added.svg" ng-click="$removeTag()">
                    </div>
                </script>


                <script type="text/ng-template" id="autocomplete-project">
                    <div class="autocomplete-template">
                        <div class="polygon-each-img-wrap">
                            <div class="user-team-img polygon-clip-hexagon" ngf-background="data.image || '/static/img/Default_Profile_IMG.svg'">
                            </div>
                        </div>
                        <span class="name-tag" ng-bind-html="$highlight($getDisplayText())"></span>
                      <span class="user-tag">@{{data.username}}</span>
                        <img class="create-team-img" src="/static/img/Create Idea_add.svg">
                    </div>
                </script>

                <svg class="clip-svg">
      <defs>
        <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
          <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
        </clipPath>
      </defs>
    </svg>
    <div class="simple-cont flex" id="btn-cont-members">
                <input class="blue-button form-button done-button" type="button" name="done-selection" value="Done" ng-click="inputTeamMembers=false">
    </div>
            </div>
        </div>
    </div>


</body>
