<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav>
        <ul>
            <li class="nav-left">
                <img id="nav-wetopia-logo" src="static/img/logo_ww.svg" alt="Wetopia" />
                <div class="discover-div aqua-text inner-nav">
                    <img id="discover-logo" src="static/img/discover.svg" />
                    <ul>
                        <li id="first-nav-element"><img src="static/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="static/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="static/img/persons.svg"><a href="#">Personas</a></li>
                        <li><img src="static/img/discover_Hover.svg"><a href="#">Más</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-middle"><img id="idea-logo" src="static/img/create.svg" /></li>
            <li class="nav-right">
                <div class="display-inner">
                    <img id="notifications-icon" src="static/img/Notify.svg">
                    <ul>
                        <p class="pt-h">Notifications</p>
                        <div class="scroll-list">
                            <li class="not-block says new"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Mary</span>
                                    <span class="like-4"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>1 min</span>
                                </p>
                            </li>
                            <li class="not-block commented new"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Mary</span>
                                    <span class="act-pivot"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>2 min</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Kevin</span>
                                    <span class="like-3"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>30 min</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Erick</span>
                                    <span class="like-2"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>2 days</span>
                                </p>
                            </li>
                            <li class="not-block commented"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Josh</span>
                                    <span class="prev-pivot">3</span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>10 days</span>
                                </p>
                            </li>
                            <li class="not-block says"><img src="static/img/Create Idea_profilePhoto.svg">
                                <p>
                                    <span class="name">Pancho</span>
                                    <span class="like-1"></span>
                                    <span class="on">Idea Name</span>
                                    <span class=time-ago>1 month</span>
                                </p>
                            </li>

                        </div>
                    </ul>
                </div>
                <div class="inner-nav">
                    <img id="nav-user-img" src="static/img/Create Idea_profilePhoto.svg" />
                    <ul>
                        <li>Mis:</li>
                        <li><img src="static/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="static/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="static/img/profile.svg"><a href="#">Perfil</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-right">
                <div class="wrapper">
                    <input id="nav-search" type="search" name="navsearch" />
                    <i class="fa fa-search"></i>
                </div>
            </li>
        </ul>
    </nav>
    <div class="idea-info">
        <div class="mid-page">
            <div class="idea-img">
            </div>
        </div>
        <div class="mid-page">
            <div class="idea-header">
                <p class="idea-title">Idea Title
                    <span class="edit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar</span>
                </p>
                <div class="idea-header-info">
                    <p>Creado por </p>
                    <div class="select-team">
                        <div class="tooltip">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p class="tooltiptext">UserName</p>
                        </div>
                        <div class="tooltip">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p class="tooltiptext">UserName</p>
                        </div>
                        <img id="add-members" src="/static/img/Create Idea_addPeople.svg">
                    </div>
                    <p> y ubicada en </p>
                    <span class="blue-text"> <img src="/static/img/location_Idea.svg">

              <select>
                <option value="México">México</option>
                <option value="EUA">EUA</option>
                <option value="Canadá">Canadá</option>
                <option value="Nicaragua">Nicaragua</option>
              </select>

        </span>
                </div>
                <p class="pivote-t act">6</p>
            </div>
            <div class="form-description movil-p">
                <img src="/static/img/Create Idea_idea.svg">
                <p> <span class="aqua-text">Idea</span>
                    <span class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar</span>
                </p>
                <p class="tab-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                </p>

                <img src="/static/img/Create Idea_problem.svg">
                <p> <span class="red-text">Problema</span>
                    <span class="edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar</span>
                </p>
                <p class="tab-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                </p>
            </div>
        </div>
        <div class="mid-page left-align pad-left min-w-350">
            <p class="pt-h">Retroalimentación del Pivote Actual</p>
            <div class="comments">
                <div class="filter" id="top-filter">
                    <p>Ordenar por: </p>
                    <img src="/static/img/order.svg">
                    <img src="/static/img/timeline.svg">
                    <img src="/static/img/starActive_Idea.svg">
                    <img src="/static/img/replyDis_Idea.svg">
                    <img src="/static/img/saveDis_Idea.svg">
                </div>
                <div class="comment">
                    <div class="user">
                        <div class="left">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p>FirstName</p>
                            <p>UserName</p>
                        </div>
                        <div class="right filter pad-right">
                            <p><img src="/static/img/starActive_Idea.svg"> 12</p>
                            <img src="/static/img/replyDis_Idea.svg">
                            <img src="/static/img/saveActive_Idea.svg">
                        </div>
                    </div>
                    <p class="tab-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac.
                    </p>
                </div>
                <div class="comment">
                    <div class="user">
                        <div class="left">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p>FirstName</p>
                            <p>UserName</p>
                        </div>
                        <div class="right filter pad-right">
                            <p><img src="/static/img/starActive_Idea.svg"> 12</p>
                            <img src="/static/img/replyDis_Idea.svg">
                            <img src="/static/img/saveActive_Idea.svg">
                        </div>
                    </div>
                    <p class="tab-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac.
                    </p>
                </div>
                <div class="comment">
                    <div class="user">
                        <div class="left">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p>FirstName</p>
                            <p>UserName</p>
                        </div>
                        <div class="right filter pad-right">
                            <p><img src="/static/img/starDis_Idea.svg"> 0</p>
                            <img src="/static/img/replyActive_Idea.svg">
                            <img src="/static/img/saveActive_Idea.svg">
                        </div>
                    </div>
                    <p class="tab-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                    </p>
                    <div class="replies">
                        <div class="comment">
                            <div class="user">
                                <div class="left">
                                    <img src="/static/img/Create Idea_profilePhoto.svg">
                                    <p>FirstName</p>
                                    <p>userName</p>
                                </div>
                            </div>
                            <p class="tab-paragraph">
                                <span class="username-tag">@UserName</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="user">
                        <div class="left">
                            <img src="/static/img/Create Idea_profilePhoto.svg">
                            <p>FirstName</p>
                            <p>UserName</p>
                        </div>
                        <div class="right filter pad-right">
                            <p><img src="/static/img/starDis_Idea.svg"> 0</p>
                            <img src="/static/img/replyDis_Idea.svg">
                            <img src="/static/img/saveDis_Idea.svg">
                        </div>
                    </div>
                    <p class="tab-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac.
                    </p>
                </div>
            </div>
        </div>
        <div class="mid-page left-align">
            <p class="pt-h">Ver Pivotes Anteriores</p>
            <div class="left-center-align counter">
                <p class="prev-pivote"></p>
                <p class="prev-pivote"></p>
                <p class="prev-pivote"></p>
                <p class="prev-pivote"></p>
                <p class="prev-pivote"></p>
                <p class="act-pivote"></p>
                <input class="blue-button" type="button" name="pivotear" ng-click="pivotear=true" id="openPivModal" value="Pivotear">
            </div>
            <div id="res-statistics" class="left-align">
                <p class="pt-h">¿Interesante?</p>
                <table class="right-num">
                    <tr>
                        <td><img src="/static/img/like 4_Idea.svg"></td>
                        <td class="number">11</td>
                        <td>¡Me encanta, lo necesito ya!</td>
                    </tr>
                    <tr class="highlighted">
                        <td><img src="/static/img/like 3_Idea.svg"></td>
                        <td class="number">25</td>
                        <td>¡Me encanta!, mas no es lo mío.</td>
                    </tr>
                    <tr>
                        <td><img src="/static/img/like 2_Idea.svg"></td>
                        <td class="number">7</td>
                        <td>Me gusta, pero aún le falta algo.</td>
                    </tr>
                    <tr>
                        <td><img src="/static/img/like 1_Idea.svg"></td>
                        <td class="number">5</td>
                        <td>No me agrada.</td>
                    </tr>
                </table>
                <p class="blue-text" id="stats-link"><img src="/static/img/stats_Idea.svg">Ver Estadísticas Detalladas
                    <img src="/static/img/arrowDown.svg" id="right-blue-arrow" class="rot-270-right"></p>
            </div>
            <div class="left-align" id="idea-to-project">
                <p class="pt-h">Convertir esta idea en<span class="red-text top-span">Proyecto</span></p>
                <input class="red-button" type="button" name="to-project" value="Proyecto">
            </div>
        </div>
    </div>

    <div ng-show="pivotear" class="modal" id="Pivotear-modal">
        <div class="center-div-f">
            <pth>Pivotear Idea</pth>
            <div class="left-align" id="piv-m">
                <p class="pt-h">Ver Pivotes Anteriores</p>
                <div class="left-center-align counter">
                    <p class="prev-pivote"></p>
                    <p class="prev-pivote"></p>
                    <p class="prev-pivote"></p>
                    <p class="prev-pivote"></p>
                    <p class="prev-pivote"></p>
                    <p class="act-pivote"></p>
                </div>
            </div>
            <div class="mid-page">
                <div class="form-description movil-p">
                    <img src="/static/img/Create Idea_idea.svg">
                    <p> <span class="aqua-text">Idea</span>
                        <img class="duplicate-idea-img" src="/static/img/Duplicate_Idea.svg">
                    </p>

                    <p class="tab-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                    </p>
                </div>
            </div>
            <div class="mid-page">
                <div class="form-description movil-p">
                    <img src="/static/img/Create Idea_problem.svg">
                    <p> <span class="red-text">Problema</span>
                        <img class="duplicate-idea-img" src="/static/img/Duplicate_Idea.svg">
                    </p>
                    <p class="tab-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                    </p>
                </div>
            </div>
            <div class="left-align" id="new-p">
                <p class="act-pivote not simple">7</p>
                <blue>Nuevo Pivote</blue>
            </div>
            <div class="mid-page">
                <div class="form-description">
                    <img src="/static/img/Create Idea_idea.svg">
                    <p><span class="aqua-text">Idea</span></p>
                    <textarea name="description" class="" maxlength="300" placeholder="¿Qué hay de nuevo en este pivote? ¿Cómo ha cambiado tu idea?"></textarea>
                    <p class="textarea-length">300</p>
                </div>
            </div>
            <div class="mid-page">
                <div class="form-description">
                    <img src="/static/img/Create Idea_problem.svg">
                    <p><span class="red-text">Problema</span></p>
                    <textarea name="description" class="" maxlength="300" placeholder="¿Qué hay de nuevo en este pivote? ¿Cómo ha cambiado tu idea?"></textarea>
                    <p class="textarea-length">300</p>
                </div>
            </div>
            <input class="blue-button" type="button" name="new-pivote" ng-click="pivotear=false" id="new-piv-btn" value="Pivotear">
            <p id="piv-modal-cancel" ng-click="pivotear=false" class="form-cancel">Cancelar</p>
        </div>
    </div>
</body>
