<body>
    <nav class="transparent-nav scroll-white static" >
        <a class=" logo "  href="/home"><img class=" logo nav-general" src="/static/img/logo_t.svg "></a>
        <div class="center-action">
          <p class="blue-text">CREATE</p>
          <a href="/createIdea/first"><img src="/static/img/create.svg"/></a>
          <p class="blue-text">IDEA</p>
        </div>
        <div class="right">
          <div class="display-inner">
              <img id="notifications-icon" ng-click="changeShowNotifications()" ng-src="{{notification?'/static/img/navigation-menu/ACT_Notif_Icon.svg':'/static/img/navigation-menu/Notif_Icon.svg'}}" >
              <ul ng-show="showNotifications" click-outside="showNotifications=false" outside-if-not="notifications-icon">
                  <p class="sub-gray">NOTIFICATIONS</p>
                  <div class="scroll-list" ng-class="{'flex-cont':!currentUser.notifications||currentUser.notifications.length==0}">
                    <div class="simple-cont" ng-show="!user.notifications||user.notifications.length==0">
                      <p  class="title-dark smaller disable">You have no notifications yet.</p>
                    </div>
                      <li class="not-block" ui-sref="myIdea({idea_id: notification.idea._id, pivotNumber: notification.pivot})" ng-repeat="notification in user.notifications | orderBy:'_id':true" ng-class="{commented: notification.type == 'comment', says: notification.type != 'comment', new: !notification.seen}">
                        <div class="polygon-each-img-wrap">
                            <div class="polygon-clip-hexagon" ngf-background="notification.sender.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'"> <!--modify as create idea 3-->
                            </div>
                        </div>
                          <p>
                              <span class="name">{{notification.sender.name}}</span>
                              <span ng-show="notification.type!='comment'" ng-class="{like4 : notification.type == 'money', like3 : notification.type == 'love', like2 : notification.type == 'like', like1 : notification.type == 'dislike'}"></span>
                              <span class="prev-pivot" ng-class="{first: notification.pivot == 1, second: notification.pivot == 2, third: notification.pivot == 3}">{{notification.pivot}}</span>
                              <span class="on">{{notification.idea.name}}</span>

                          </p>
                      </li>
                  </div>
              </ul>
          </div>
          <div class="inner-nav">
              <div class="polygon-each-img-wrap">
                  <div class="polygon-clip-hexagon" ng-click="changeShowMenu()" id="profile-picture" ngf-background="user.image || '/static/img/navigation-menu/User_ICON.svg'" > <!--modify as create idea 3-->
                  </div>
              </div>
              <ul ng-show="showUserMenu" click-outside="showUserMenu=false" outside-if-not="profile-picture">
                <div class="flex-cont user-menu">
                  <div class="sup-cont">
                    <p class="gray-dark">{{user.username}}</p>
                    <p class="gray-lighter small bottom">{{user.email}}</p>
                  </div>
                  <p ng-href="#upper-cont-profile" offset="180" ng-click="changeShowMenu()" du-smooth-scroll du-scrollspy>My Profile</p>
                  <a class="nav-txt" ng-click="changeShowMenu()" ng-href="#section" offset="80" du-smooth-scroll du-scrollspy>My Ideas</a>
                  <!-- <p>Settings</p> -->
                  <p class="gray-lighter" ng-click="logOut()">Log Out</p>
                </div>
              </ul>
          </div>
        </div>
    </nav>
    <svg class="clip-svg">
  <defs>
    <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
      <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
    </clipPath>
  </defs>
</svg>

    <div class="max-cont">
        <div class="flex-cont row wrap margin-bottom">
            <div ng-show="!editProfile" class="flex-cont mid-page">
                <img class="edit-icon" src="/static/img/lapiz.svg" ng-click="editProfile=true">
                <div class="flex-cont row wrap" id="upper-cont-profile">
                    <div class="flex-cont" id="profile-cont">
                        <div class="polygon-each-img-wrap">
                            <div class="polygon-clip-hexagon profile-img" ngf-background="user.image || '/static/img/Default_Profile_IMG.svg'">
                            </div>
                        </div>
                        <p class="medium-gray" ng-show="user.username">@{{user.username}}</p>
                        <!-- <div class="simple-cont"><p class="medium-gray" ng-show="user.username">@</p><p  class="medium-gray" ng-bind="user.username || 'Add a username.'"></p></div> -->
                    </div>
                    <div class="flex-cont" id="profile-info">
                        <p class="title-dark left" ng-bind="user.name || 'Add your name.'"> </p>
                        <p class="title-dark left subtitle "  ng-bind="user.lastname || 'Add your lastname.'"></p>
                        <p class="medium-gray left padding"  ng-bind="user.profession || 'Add your profession.'"></p>
                        <p class="medium-gray left padding"  ng-show="!user.birthdate">Add your age</p>
                          <p class="medium-gray left padding"  ng-show="user.birthdate">{{user.birthdate| toYears}}</p>
                        <div class="simple-cont left padding"><img class="left-img" src="/static/img/Gender_Icon.svg"> <p  class="medium-gray no-margins" ng-bind="user.gender || 'Add your gender.'"> </p></div>
                        <div class="simple-cont left padding"><img  class="left-img"src="/static/img/Location_Icon.svg"><p  class="medium-gray no-margins" ng-bind="user.location || 'Add your country.'"></p></div>
                    </div>
                </div>
                <div class="flex-cont">
                    <p class="title-dark left">About me:</p>
                    <p class="normal-paragraph margin-tb left small-size" ng-bind="user.bio || 'Add a bio.'">
                </div>
            </div>

            <div ng-show="editProfile" class="flex-cont mid-page">
                <div class="flex-cont row wrap" id="upper-cont-profile">
                    <div class="flex-cont" id="profile-cont">
                        <input id="profile-picture-input" type="file" ngf-select name="file" ng-model="user.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" />
                        <label for="profile-picture-input" id="select-profile-pic-label">
                <div ng-show="!user.image" class="flex-cont absolute">
                <p class="normal-paragraph small bold" >Add a profile picture</p>
                </div>
                <div class="polygon-each-img-wrap">
              <div class="polygon-clip-hexagon profile-img" ngf-background="user.image || '/static/img/AddProfile_IMG.svg'">
              </div>
          </div>
          </label>
          <p class="medium-gray">@{{user.username}}</p>
                        <!-- <div class="input-box">
                            <input type="text" name="edit-username-input" class="simple-input medium-gray total-width centered-text" maxlength="15" ng-style="usernameError && {'border': '2px solid #f48465'}" placeholder="username" ng-model="user.username">
                            <span class="input-label medium-gray">@</span>
                            <img class="username-status-img" ng-show="usernameError||user.username!=''" ng-src="{{usernameError?'/static/img/WRONG_UN_ICON.svg':'/static/img/RIGHT_UN_ICON.svg'}}">
                            <p class="red-text error center" ng-show="usernameError">Username taken!</p>
                        </div> -->
                    </div>
                    <div class="flex-cont" id="profile-edit-info">
                        <input type="text" name="edit-name-input" class="simple-input title-dark" placeholder="Name" ng-model="user.name">
                        <input type="text" name="edit-lastname-input" class="simple-input title-dark subtitle" placeholder="Last name" ng-model="user.lastname">
                        <input type="text" name="edit-profession-input" class="simple-input medium-gray" placeholder="Profession" ng-model="user.profession">
                        <input type="date" name="edit-birthday-input" class="simple-input medium-gray" placeholder="Birthday" ng-model="dateOfBirth">
                        <div class="flex-cont relative">
                            <input type="text" name="edit-gender-input" ng-click="changeShowSelectGender()" id="select-gender" readonly="readonly" class="simple-input medium-gray" placeholder="Gender" ng-model="user.gender">
                            <div class="list-cont total-width" ng-show="showSelectGender" click-outside="showSelectGender=false" outside-if-not="select-gender">
                                <ul class="tooltip-selector auto">
                                    <li ng-click="selectGender('Female')" ng-class="{'selected':  user.gender=='Female'}">Female</li>
                                    <li ng-click="selectGender('Male')" ng-class="{'selected':  user.gender=='Male'}">Male</li>
                                    <li ng-click="selectGender('Other')" ng-class="{'selected':  user.gender=='Other'}">Other</li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" name="edit-location-input" class="simple-input medium-gray" placeholder="Location" ng-model="user.location">
                    </div>
                </div>
                <div class="flex-cont">
                    <p class="title-dark left">About you:</p>
                    <div class="form-description movil-p no-padding">
                        <textarea name="about-textarea" class="feedback no-outline" maxlength="140" placeholder="About yourself" ng-model="user.bio"></textarea>
                        <div class="flex-cont absolute auto">
                            <p class="normal-paragraph right" id="edit-textarea-length">140</p>
                        </div>
                        <a class="color-button blue left discard no-bottom border-radius-6" ng-click="updateProfileInfo()" href="">Done editing</a>
                    </div>
                </div>
            </div>

            <div class="mid-page flex-cont upper-margin">
                <div ng-show="!testDone" class="flex-cont absolute">
                    <a class="color-button blue complete-form discard no-bottom no-clickable">Coming Soon</a>
                </div>
                <canvas id="radar" class="chart chart-radar flex-cont" chart-data="testResults" chart-options="options" width="600" height="400" chart-colors="colors" chart-options="options" chart-labels="labels">
</canvas>

            </div>
        </div>

        <div class="section-cont" >
            <div class="flex-cont row sub-nav margin-bottom" id="section">
                <p class="sub-gray light bigger" ng-click="showIdeas()" ng-class="{'active blue': ideas}">My Ideas</p>
                <!-- <p class="sub-gray" ng-click="showProjects()" ng-class="{'active red': projects}">My Projects</p> -->
                <!-- <p class="sub-gray" ng-click="showFollowing()" ng-class="{'active aqua': following}">Following</p> -->
            </div>
            <div class="flex-cont upper-container margin-top">
              <a class="color-button blue larger stylized right" href="/createIdea/first">Create Idea +</a>
            </div>
            <div class="cards-cont">
              <div class="simple-margin-top" ng-show="user.ideas.length==0">
                <p  class="title-dark disable">You have no ideas yet.</p>
              </div>
              <a class="card idea" ng-repeat="idea in ideasData" ng-href="/idea/{{idea._id}}" >
                <div class="card-block">
                  <div class="card-img" ngf-background="idea.banner || getBannerImage(idea.category.name)">
                  </div>
                  <div class="card-info ">
                      <div class="user">
                              <div class="polygon-each-img-wrap">
                                  <div class="polygon-clip-hexagon" ngf-background="idea.admin.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'"> <!--modify as create idea 3-->
                                  </div>
                              </div>
                              <p class="lighter-gray left">{{idea.admin.username}}</p>
                              <img class="right-img" src="/static/img/PROJECT_VIEWS/Idea_ICON.svg">
                      </div>
                      <p class="dark-title">{{idea.name}}</p>
                      <span class="card-p">
                          {{idea.description | limitTo: 55}}
                      </span>
                      <span class="ellipsis" ng-show="idea.description.length>55">...
                      <span  class="read-more">See More</span>
                      </span>
                      <div class="white-padding-bottom">
                      </div>
                  </div>
                  </div>
                  <div class="footer-nav">
                      <p href="#">{{idea.category.description}}</p>
                  </div>
              </a>

            </div>
        </div>

        <!-- <div class="flex-cont row wrap ">
            <div class="flex-cont row sub-nav" ng-show="selectedCategory!=''">
                <p class="sub-gray not-hov">STATUS</p>
            </div>
            <div class="flex-cont mid-page">
                <div class="bar-graph flex-cont" ng-repeat="score in scoreCategories">
                    <p class="normal-paragraph left medium" ng-bind="score.name"></p>
                    <div class="gray-bar">
                        <div class="color-bar" ng-style="{'background': score.color, 'width':score.percentage}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-cont mid-page">
                <div class="simple-margin-top">
                    <p class="title-dark ">You have</p>
                    <p class="title-dark ">no badges yet</p>
                </div>
            </div>
        </div> -->
    </div>


    <div class="footer flex-cont">
      <div class="left">
        <a href="/home" class="small">Home</a>
        <a href="/myProfile" class="small">My Profile</a>
        <a href="/createIdea/first" class="small">Create Idea</a>
        <a href="/myProfile/ideas" class="small">My Ideas</a>
      </div>
      <div class="icons">
        <img src="/static/img/wetopia_dark.png">
        <div class="simple-cont">
          <a href="https://www.facebook.com/wetopiaCo/" target="_blank" ><img src="/static/img/fb_icon_dark.svg"></a>
          <a href="https://twitter.com/wetopiaco" target="_blank" ><img src="/static/img/twitter.svg"></a>
          <a href="https://www.instagram.com/wetopia.co/" target="_blank" ><img src="/static/img/instagram_dark.svg"></a>
          <!--<a href="#"><img src="/static/img/snap_dark.svg"></a>-->
        </div>

      </div>
      <div class="right">
        <p class="medium-bold">Wetopia (c) 2017</p>
        <a href="/blog" class="small">Blog</a>
        <!--
        <p class="small">Terms & Conditions</p>
        <p class="small">Privacy Policy</p>
        <p class="small">Ethics Code</p>
        -->
      </div>
    </div>
</body>
