<body class="hexagon-bg">
    <div class="fixed-background">
        <form class="centered-form" action="index.html" method="post">
            <div class="upper-text-form">
                <a href="#">
                    <p>Iniciar Sesión</p>
                </a>
            </div>
            <p class="gray-sub" id="init-sesion-h">Nuevo Usuario</p>
            <div class="logo-img">
                <img id="new-user-img" src="/static/img/photo_Login.svg">
            </div>
            <div class="form-input">
                <img src="/static/img/Login_name.svg">
                <input type="text" name="signup-name" placeholder="Nombre">
            </div>
            <div class="form-input">
                <img src="/static/img/Login_last.svg">
                <input type="text" name="signup-lastname" placeholder="Apellidos">
            </div>
            <input class="form-button" id="signup-buttom" type="button" name="signup-button" value="Registrarse">
        </form>
    </div>
</body>
