<body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="../js/login.js">
    </script>
    <div class="hexagon-background">
        <form class="login-form" action="index.html" method="post">
            <div class="signup-text">
                <a href="#">
                    <p>Iniciar Sesión</p>
                </a>
            </div>
            <p id="init-sesion-h">Nuevo Usuario</p>
            <div class="logo-img">
                <img id="new-user-img" src="/static/img/photo_Login.svg">
            </div>
            <div class="login-input">
                <img src="/static/img/Login_name.svg">
                <input type="text" name="signup-name" placeholder="Nombre">
            </div>
            <div class="login-input">
                <img src="/static/img/Login_last.svg">
                <input type="text" name="signup-lastname" placeholder="Apellidos">
            </div>
            <input class="login-button" id="signup-buttom" type="button" name="signup-button" value="Registrarse">
        </form>
    </div>
</body>
