<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Show Idea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/img/wetopia_w.png">
    <link rel="stylesheet" href="../css/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav>
    <ul>
        <li class="nav-left">
          <img id="nav-wetopia-logo" src="../../public/img/logo_ww.svg" alt="Wetopia"/>
            <img id="discover-logo" src="../../public/img/hex_Idea.svg"/>
        </li>
        <li class="nav-middle"><img id="idea-logo" src="../../public/img/hex_Idea.svg"/></li>
        <li class="nav-right">
          <img id="notifications-icon" src="../../public/img/hex_Idea.svg">
          <div class="inner-nav">
            <img id="nav-user-img" src="../../public/img/Create Idea_profilePhoto.svg" />
            <ul>
              <li>Mis:</li>
              <li><img src="../../public/img/idea_Idea.svg"><a href="#">Ideas</a></li>
              <li><img src="../../public/img/Duplicate_Idea.svg"><a href="#">Proyectos</a></li>
              <li><img src="../../public/img/idea_Idea.svg"><a href="#">Perfil</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-right">
          <div class="wrapper">
            <input id="nav-search" type="search" name="navsearch"/>
            <i class="fa fa-search"></i>
          </div>
        </li>
    </ul>
</nav>

<div class="idea-info">
  <div class="mid-page">
    <div class="idea-img">
    </div>
  </div>
  <div class="mid-page">
    <div class="center-container">
    <div class="idea-header">
      <p class="idea-title">Idea Title
      </p>
      <div class="idea-header-info">
        <p>Creado por </p>
        <div class="select-team">
          <div class="tooltip">
            <img src="../../public/img/Create Idea_profilePhoto.svg">
            <p class="tooltiptext">UserName</p>
          </div>
          <div class="tooltip">
            <img src="../../public/img/Create Idea_profilePhoto.svg">
            <p class="tooltiptext">UserName</p>
          </div>
          <div class="tooltip">
            <img src="../../public/img/Create Idea_profilePhoto.svg">
            <p class="tooltiptext">UserName</p>
          </div>
        </div>
        <p> y ubicada en </p>
        <span class="blue-text"> <img src="../../public/img/location_Idea.svg">
          México
        </span>
      </div>
      <p class="pivote-t prev">5</p>
    </div>
    <div class="form-description movil-p">
        <img src="../../public/img/Create Idea_idea.svg">
        <p> <span class="aqua-text">Idea</span>
        </p>
        <p class="tab-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit
          ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum,
          nec sagittis nisi dignissim pellentesque.
        </p>

        <img src="../../public/img/Create Idea_problem.svg">
        <p> <span class="red-text">Problema</span>
        </p>
        <p class="tab-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit
          ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum,
          nec sagittis nisi dignissim pellentesque.
        </p>
  </div>
</div>
</div>
<div class="mid-page left-align pad-left min-w-350">
  <p class="pt-h">Retroalimentación del Pivote Actual</p><br>
  <div class="comments">
    <div class="comment">
      <div class="user">
        <div class="left">
          <img src="../../public/img/Create Idea_profilePhoto.svg">
          <p>FirstName</p>
          <p>UserName</p>
        </div>
        <div class="right filter pad-right ">
          <p><img src="../../public/img/starActive_Idea.svg"> 12</p>
        </div>
      </div>
      <p class="tab-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit
        ex massa, et pellentesque enim blandit ac.
      </p>
    </div>
    <div class="comment">
      <div class="user">
        <div class="left">
          <img src="../../public/img/Create Idea_profilePhoto.svg">
          <p>FirstName</p>
          <p>UserName</p>
        </div>
        <div class="right filter pad-right">
          <p><img src="../../public/img/starActive_Idea.svg"> 1</p>
        </div>
      </div>
      <p class="tab-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit
        ex massa, et pellentesque enim blandit ac.
      </p>
    </div>
    <div class="comment">
      <div class="user">
        <div class="left">
          <img src="../../public/img/Create Idea_profilePhoto.svg">
          <p>FirstName</p>
          <p>UserName</p>
        </div>
      </div>
      <p class="tab-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit
        ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum,
        nec sagittis nisi dignissim pellentesque.
      </p>
    </div>
    <div class="comment">
      <div class="user">
        <div class="left">
          <img src="../../public/img/Create Idea_profilePhoto.svg">
          <p>FirstName</p>
          <p>UserName</p>
        </div>
      </div>
      <p class="tab-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit
        ex massa, et pellentesque enim blandit ac.
      </p>
    </div>
  </div>
  <div class="form-description make-comment">
    <img src="../../public/img/Create Idea_profilePhoto.svg">
    <p><span class="blue-text">Retroalimentar Pivote</span></p>
    <textarea name="description" maxlength="300"
    placeholder="¿Qué opinas de la Idea y del Pivote actual?
   ¿Cómo podría mejorar y crecer?"></textarea>
  <div class="button-zone">
    <input class="blue-button" type="button" name="make-comment-button" value="Publicar">
  </div>
  </div>
</div>
<div class="mid-page left-align">
  <p class="pt-h">Ver Pivotes Anteriores</p>
  <div class="left-center-align piv-count">
    <div class="piv-history">
      <p class="prev-pivote"></p>
      <span class="prev" date="Enero 10, 2016">Creado:</span>
    </div>
    <div class="piv-history">
      <p class="prev-pivote"></p>
      <span class="prev" date="Febrero 20, 2016">Creado:</span>
    </div>
    <div class="piv-history">
      <p class="prev-pivote"></p>
      <span class="prev" date="Junio 15, 2016">Creado:</span>
    </div>
    <div class="piv-history">
      <p class="prev-pivote"></p>
      <span class="prev" date="Noviembre 27, 2016">Creado:</span>
    </div>
    <div class="piv-history">
      <p class="act-pivote"></p>
      <span class="act" date="Diciembre 12, 2016">Creado:</span>
    </div>
  </div>
  <div id="likes-cont" class="left-align">
    <p class="pt-h">¿Interesante?</p>
    <div class="like-cont">
      <div class="like-img" id="like-4"></div>
        <span class="green-text">¡Me encanta, lo necesito ya!</span>
      </div>
      <div class="like-cont">
        <div class="like-img" id="like-3"></div>
        <span class="red-text">¡Me encanta!, mas no es lo mío.</span>
      </div>
      <div class="like-cont">
        <div class="like-img" id="like-2"></div>
        <span class="yellow-text">Me gusta, pero aún le falta algo.</span>
      </div>
      <div class="like-cont">
        <div class="like-img" id="like-1"></div>
        <span class="blue-text">No me agrada.</span>
      </div>
    </div>
  </div>
</div>
</div>
