<!--<div class="hexagon">
  <div class="hexTop"></div>
  <div class="hexBottom"></div>
</div>-->

<div class="profile-picture">
    <div class="photo">
        <input type="file" ngf-select name="file" ng-model="user.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" />
        <img ngf-thumbnail="user.image">
    </div>
    <i ng-show="upload_form.file.$error.maxSize">File too large {{user.image.size / 1000000|number:1}}MB: max 5M</i><br>
</div>
<div class="form-input">
    <img src="/static/img/Login_name.svg">
    <input type="text" name="signup-name" placeholder="Firstname" ng-model="user.name">
</div>
<div class="form-input">
    <img src="/static/img/Login_last.svg">
    <input type="text" name="signup-lastname" placeholder="Lastname" ng-model="user.surname">
</div>
<input type="button" value="Done" class="form-button" ng-click="signUp()" ng-disabled="!secondValidation"  ng-class="{'block': !secondValidation}" name="create">
