
<div class="profile-picture">
  <div class="photo">
    <input type="file" ngf-select name="file" ng-model="user.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB"/>
    <img ngf-thumbnail="user.image">
  </div>
  <i ng-show="upload_form.file.$error.maxSize">File too large {{user.image.size / 1000000|number:1}}MB: max 5M</i><br>
</div>
<div class="form-input">
    <img src="/static/img/Login_name.svg">
    <input type="text" name="signup-name" placeholder="Nombre">
</div>
<div class="form-input">
    <img src="/static/img/Login_last.svg">
    <input type="text" name="signup-lastname" placeholder="Apellidos">
</div>
<!-- <button class="form-button" type="submit">Finish SignUp</button> -->
<input type="button" value="DONE" class="green-button" ng-click="signUp()" name="create">
