<div class="form-input">
    <img src="/static/img/Login_user.svg">
    <input type="text" name="signup-username" placeholder="Username" ng-model="user.username" required="true">
    <!-- <span ng-show="!user.username.length">Please enter something!</span> -->
</div>
<div class="form-input">
    <img src="/static/img/Login_mail.svg">
    <input type="text" name="signup-email" placeholder="Email" ng-model="user.email" required="true">
    <span ng-show="submitted && signup.email.$error.email">
This email is invalid</span>
</div>
<div class="form-input">
    <img src="/static/img/Login_pass.svg">
    <input type="password" name="signup-password" placeholder="Password" ng-model="user.password" required="true">
</div>
<div class="form-input">
    <img src="/static/img/Login_repeat.svg">
    <input type="password" name="signup-lastname" placeholder="Repeat password" ng-model="user.confirm_password">
    <div role="alert">
        <span class="error" ng-show="submitted && (user.password !== user.confirm_password) && signup.confirm_password.$dirty">
                      Passwords do not match</span>
    </div>
</div>
<div id="form-button-cont">
    <input type="button"ui-sref="signup.second" class="form-button" id="next-button" ng-disabled="!firstValidation"  ng-class="{'block': !firstValidation}"value="Next">
</div>
