<body class="hexagon-bg">
  <div class="fixed-background">
    <a ui-sref-active="active" ui-sref=".first"><span>1</span> first</a>
    <a ui-sref-active="active" ui-sref=".second"><span>2</span> second</a>
  <form class="centered-form" ng-submit="signUp()">
    <div class="upper-text-form">
        <a href="#">
            <p>Iniciar Sesión</p>
        </a>
    </div>
    <p id="init-sesion-h">Nuevo Usuario</p>
    <div class="form-views" ui-view></div>
  </form>
  <!-- show our formData as it is being typed -->
      <pre>
          {{ user }}
      </pre>
</body>
