<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/wetopia_w.png">
    <link rel="stylesheet" href="../css/main.min.css">
    <nav>
        <ul>
            <li class="nav-left">
                <img id="nav-wetopia-logo" src="../../public/img/logo_ww.svg" alt="Wetopia" />
                <div class="discover-div aqua-text inner-nav">
                    <img id="discover-logo" src="../../public/img/discover.svg" />
                    <ul>
                        <li id="first-nav-element"><img src="../../public/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="../../public/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="../../public/img/persons.svg"><a href="#">Personas</a></li>
                        <li><img src="../../public/img/discover_Hover.svg"><a href="#">Más</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-middle"><img id="idea-logo" src="../../public/img/create.svg" /></li>
            <li class="nav-right">
                <img id="notifications-icon" src="../../public/img/Notify.svg">
                <div class="inner-nav">
                    <img id="nav-user-img" src="../../public/img/Create Idea_profilePhoto.svg" />
                    <ul>
                        <li>Mis:</li>
                        <li><img src="../../public/img/idea_1.svg"><a href="#">Ideas</a></li>
                        <li><img src="../../public/img/proyect.svg"><a href="#">Proyectos</a></li>
                        <li><img src="../../public/img/profile.svg"><a href="#">Perfil</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-right">
                <div class="wrapper">
                    <input id="nav-search" type="search" name="navsearch" />
                    <i class="fa fa-search"></i>
                </div>
            </li>
        </ul>
    </nav>
    <div class="content">
        <p class="blue-text" id="go-back-idea">
            <img src="../../public/img/arrowDown.svg"> Volver a la Idea
        </p>
        <div class="mid-page" id="graph-cont">
            <div class="donut-cont">
                <canvas id="donut-chart" height="300px" width="300px"></canvas>
                <div class="donut-center">
                    <p id="dc-percentage"></p>
                    <div class="clip-circ-img">
                        <img id="dc-img">
                    </div>
                    <p id="dc-p"></p>
                </div>
            </div>
            <p id="votes-num">50</p>
            <table class="right-num">
                <tr>
                    <td class="number">11</td>
                    <td><img src="../../public/img/like 4_Active.svg"></td>
                    <td><span class="green-text">¡Me encanta, lo necesito ya!</span></td>
                </tr>
                <tr class="highlighted">
                    <td class="number">25</td>
                    <td><img src="../../public/img/like 3_Active.svg"></td>
                    <td><span class="color-red">¡Me encanta!, mas no es lo mío.</span></td>
                </tr>
                <tr>
                    <td class="number">9</td>
                    <td><img src="../../public/img/like 2_Active.svg"></td>
                    <td><span class="yellow-text">Me gusta, pero aún le falta algo.</span></td>
                </tr>
                <tr>
                    <td class="number">5</td>
                    <td><img src="../../public/img/like 1_Active.svg"></td>
                    <td><span class="blue-text">No me agrada.</span></td>
                </tr>
            </table>
        </div>
        <div class="mid-page left-align" id="stats-resume">
            <table class="right-num">
                <tr>
                    <td><img src="../../public/img/Recurso 10_Idea.svg"></td>
                    <td class="number">322</td>
                    <td>Vistas</td>
                </tr>
                <tr class="highlighted">
                    <td><img src="../../public/img/comment.svg"></td>
                    <td class="number">234</td>
                    <td>Comentarios</td>
                </tr>
                <tr>
                    <td><img src="../../public/img/expert.svg"></td>
                    <td class="number">59</td>
                    <td>Comentarios de expertos</td>
                </tr>
                <tr>
                    <td><img src="../../public/img/star_1.svg"></td>
                    <td class="number">39</td>
                    <td>Comentarios favoritos</td>
                </tr>
            </table>
            <p><img src="../../public/img/like 4.svg">A ellos les encanta tu idea y la quieren ya!</p>
        </div>
        <div class="mid-page left-align" id="greater-act">
            <p>Pivote con mayor actividad</p>
            <div class="left-center-align piv-simple">
                <div class="piv-history hover">
                    <p class="prev-pivote not simple">4</p>
                    <span class="prev" date="Enero 10, 2016" piv-num="4">Creado:</span>
                </div>
            </div>
            <div class="upper-cont">
                <div>
                    <p>45</p>
                    <img src="../../public/img/comment.svg">
                </div>
                <div>
                    <p>17</p>
                    <img src="../../public/img/expert.svg">
                </div>
                <div>
                    <p>11</p>
                    <img src="../../public/img/star_1.svg">
                </div>
                <div>
                    <p>28</p>
                    <img src="../../public/img/like 4.svg">
                </div>
            </div>

            <div class="form-description movil-p">
                <img src="../../public/img/Create Idea_idea.svg">
                <p> <span class="aqua-text">Idea</span>
                </p>
                <p class="tab-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                </p>

                <img src="../../public/img/Create Idea_problem.svg">
                <p> <span class="red-text">Problema</span>
                </p>
                <p class="tab-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit ex massa, et pellentesque enim blandit ac. Vivamus aliquam quam ipsum, nec sagittis nisi dignissim pellentesque.
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js">
    </script>
    <script src="../js/donutChart.js"></script>
</body>
