<body>
    <nav class="transparent-nav scroll-white static" >
        <a class=" logo "  href="/home"><img class=" logo nav-general" src="/static/img/logo_t.svg "></a>
        <div class="center-action">
          <p class="blue-text">CREATE</p>
          <a href="/createIdea/first"><img src="/static/img/create.svg"/></a>
          <p class="blue-text">IDEA</p>
        </div>
        <div class="right">
          <div class="display-inner">
              <img id="notifications-icon" ng-click="changeShowNotifications()" ng-src="{{notification?'/static/img/navigation-menu/ACT_Notif_Icon.svg':'/static/img/navigation-menu/Notif_Icon.svg'}}" >
              <ul ng-show="showNotifications" click-outside="showNotifications=false" outside-if-not="notifications-icon">
                  <p class="sub-gray">NOTIFICATIONS</p>
                  <div class="scroll-list" ng-class="{'flex-cont':!currentUser.notifications||currentUser.notifications.length==0}">
                    <div class="simple-cont" ng-show="!currentUser.notifications||currentUser.notifications.length==0">
                      <p  class="title-dark smaller disable">You have no notifications yet.</p>
                    </div>
                      <li class="not-block" ui-sref="myIdea({idea_id: notification.idea._id, pivotNumber: notification.pivot})" ng-repeat="notification in currentUser.notifications | orderBy:'_id':true" ng-class="{commented: notification.type == 'comment', says: notification.type != 'comment', new: !notification.seen}">
                        <div class="polygon-each-img-wrap">
                            <div class="polygon-clip-hexagon" ngf-background="notification.sender.image || '/static/img/PROJECT_VIEWS/User_ICON.svg'"> <!--modify as create idea 3-->
                            </div>
                        </div>
                          <p>
                              <span class="name">{{notification.sender.name}}</span>
                              <span ng-show="notification.type!='comment'" ng-class="{like4 : notification.type == 'money', like3 : notification.type == 'love', like2 : notification.type == 'like', like1 : notification.type == 'dislike'}"></span>
                              <span class="prev-pivot" ng-class="{first: notification.pivot == 1, second: notification.pivot == 2, third: notification.pivot == 3}">{{notification.pivot}}</span>
                              <span class="on">{{notification.idea.name}}</span>

                          </p>
                      </li>
                  </div>
              </ul>
          </div>
          <div class="inner-nav">
              <div class="polygon-each-img-wrap">
                  <div class="polygon-clip-hexagon" ng-click="changeShowMenu()" id="profile-picture" ngf-background="currentUser.image || '/static/img/navigation-menu/User_ICON.svg'" > <!--modify as create idea 3-->
                  </div>
              </div>
              <ul ng-show="showUserMenu" click-outside="showUserMenu=false" outside-if-not="profile-picture">
                <div class="flex-cont user-menu">
                  <div class="sup-cont">
                    <p class="gray-dark">{{currentUser.username}}</p>
                    <p class="gray-lighter small bottom">{{currentUser.email}}</p>
                  </div>
                  <p ui-sref="myProfile">My Profile</p>
                  <a class="nav-txt" ng-href="/myProfile/ideas">My Ideas</a>
                  <!-- <p>Settings</p> -->
                  <p class="gray-lighter" ng-click="logOut()">Log Out</p>
                </div>
              </ul>
          </div>
        </div>
    </nav>
    <svg class="clip-svg">
  <defs>
    <clipPath id="polygon-clip-hexagon" clipPathUnits="objectBoundingBox">
      <polygon points="0.5 0, 1 0.25, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
    </clipPath>

    <clipPath id="polygon-clip-half-hexagon" clipPathUnits="objectBoundingBox">
      <polygon points="0 0.95, 0.95 1, 1 0.75, 0.5 1, 0 0.75, 0 0.25" />
    </clipPath>
  </defs>
</svg>

    <div class="max-cont">
        <div ng-show="questionNumber<1" class="flex-cont" id="start-test">
            <div class="flex-cont">
                <p class="giant dark">YOUR BEST TEAM IS ONLY A FEW QUESTIONS AWAY</p>
                <p class="giant lighter-gray">Only takes _ minutes!</p>
                <a class="color-button blue no-bottom border-radius-6" ng-click="questionNumber=1" href="">Start</a>
                <a href="#" class="cancel">Cancel</a>
            </div>
        </div>

        <div class="flex-cont" ng-show="questionNumber>0&&questionNumber<=questions.length">
            <div class="flex-cont" id="test-scale-questions" ng-class="{multiple: question.type=='multiple'}" ng-switch on="question.type" ng-repeat="question in questions" ng-show="questionNumber==$index+1">
                <p class="medium-dark">{{question.question}}</p>
                <div class="simple-cont" ng-switch-when="scale">
                    <div class="flex-cont row" id="scale-row">
                        <p class="medium-light">Strongly Disagree</p>
                        <div class="flex-cont row" id="hexagons-row">
                            <div class="polygon-each-img-wrap">
                                <div class="polygon-clip-hexagon red" ng-click="answerQuestion(1, $index)">
                                </div>
                            </div>
                            <div class="polygon-each-img-wrap">
                                <div class="polygon-clip-hexagon lighter-red" ng-click="answerQuestion(2, $index)">
                                </div>
                            </div>
                            <div class="polygon-each-img-wrap">
                                <div class="polygon-clip-hexagon lighter-gray" ng-click="answerQuestion(3, $index)">
                                </div>
                            </div>
                            <div class="polygon-each-img-wrap">
                                <div class="polygon-clip-hexagon lighter-aqua" ng-click="answerQuestion(4, $index)">
                                </div>
                            </div>
                            <div class="polygon-each-img-wrap">
                                <div class="polygon-clip-hexagon aqua" ng-click="answerQuestion(5, $index)">
                                </div>
                            </div>
                        </div>
                        <p class="medium-light">Strongly Agree</p>
                    </div>
                </div>
                <div class="simple-cont" ng-switch-when="multiple">
                    <p class="medium-gray">(Choose all that apply)</p>

                    <div class="flex-cont" id="list-checkboxes">
                        <div class="flex-cont row" ng-repeat="answer in question.answers">
                            <input type="checkbox" class="polygon-clip-hexagon" ng-click="checkMultiple($index)" name="" value="">
                            <p class="light-dark">{{answer}}</p>
                        </div>

                    </div>
                    <a class="color-button blue" id="next-test-btn" ng-click="answerQuestion(multipleAnswer, $index)">Next</a>

                </div>
                <div class="flex-cont row wrap" id="scale-line">
                    <a class="color-button gray-dark arrow" href="" ng-show="questionNumber>1" ng-click="goPrevious()">Previous</a>
                    <div class="simple-cont relative">
                        <div class="scale" ng-style="{'margin-left': ''}">
                        </div>
                        <div class="polygon-scale" ng-bind="scalePercentage" ng-style="{'left': scalePercentage-5+ '%'}" ng-class="{0:'gray', 100:'aqua'}[scalePercentage]">
                        </div>
                    </div>
                    <a class="color-button gray-dark" id="test-save-btn" ng-click="showWantToSave()">Save</a>
                </div>
            </div>
        </div>
        <div class="flex-cont" ng-show="questionNumber>questions.length" id="test-results">
            <p class="sub-gray">YOUR RESULTS</p>
            <div class="flex-cont row wrap">


                <div class="mid-page flex-cont">
                    <canvas id="radar" class="chart chart-radar flex-cont" chart-data="testResults" chart-options="options" width="600" height="400" chart-colors="colors" chart-options="options" chart-labels="labels">
</canvas>

                </div>
                <div class="mid-page flex-cont" id="test-strengths">
                    <div class="flex-cont">
                        <p class="subtitle-gray">Main Strengths:</p>
                        <p class="simple-paragraph"><span>{{labels[strenght1]}}: </span>{{descriptions[strenght1]}} </p>
                        <p class="simple-paragraph"><span>{{labels[strenght2]}}: </span>{{descriptions[strenght2]}} </p>
                        <p class="subtitle-gray">Main Oportunities:</p>
                        <p class="simple-paragraph"><span>{{labels[oportunity1]}}: </span>{{descriptions[oportunity1]}} </p>
                        <p class="simple-paragraph"><span>{{labels[oportunity2]}}: </span>{{descriptions[oportunity2]}} </p>
                        <a class="color-button blue right border-radius-6" href="/myProfile">My Profile</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="footer flex-cont">
      <div class="left">
        <a href="/home" class="small">Home</a>
        <a href="/myProfile" class="small">My Profile</a>
        <a href="/createIdea/first" class="small">Create Idea</a>
        <a href="/myProfile/ideas" class="small">My Ideas</a>
      </div>
      <div class="icons">
        <img src="/static/img/wetopia_dark.png">
        <div class="simple-cont">
          <a href="https://www.facebook.com/wetopiaCo/" target="_blank" ><img src="/static/img/fb_icon_dark.svg"></a>
          <a href="https://twitter.com/wetopiaco" target="_blank" ><img src="/static/img/twitter.svg"></a>
          <a href="https://www.instagram.com/wetopia.co/" target="_blank" ><img src="/static/img/instagram_dark.svg"></a>
          <!--<a href="#"><img src="/static/img/snap_dark.svg"></a>-->
        </div>

      </div>
      <div class="right">
        <p class="medium-bold">Wetopia (c) 2017</p>
        <a href="/blog" class="small">Blog</a>
        <!--
        <p class="small">Terms & Conditions</p>
        <p class="small">Privacy Policy</p>
        <p class="small">Ethics Code</p>
        -->
      </div>
    </div>

    <div class="flex-modal white" ng-show="wantToSave" id="save-test-modal">
        <div class="centered-form modal-form complete" click-outside="wantToSave=false" outside-if-not="test-save-btn">
            <div class="flex-cont">
                <p class="close-x upper" ng-click="wantToSave=false">x</p>
                <p class="sub-gray">SAVE</p>
                <p class="simple-paragraph">Are you sure you want to save?</p>
                <p class="simple-paragraph">You can always go back to your test later and finish.</p>
                <div class="flex-cont row eighty">
                    <a class="color-button blue complete-form discard" ng-click="saveTest()">Yes, save it</a>
                </div>
            </div>
        </div>
    </div>
</body>
