<body ng-app="musementApp" ui-view>
    <div ng-class="{'blur': join || login || request||movilMenu }" ng-mousemove="landingCtrl.onMove($event)">
        <nav class="transparent-nav fadeIn fast" ng-class="{ 'scroll-white' : (scrolled > 1) }">
            <img class=" logo " src="/static/img/logo_t.svg ">
            <img class="hamburguer-menu " src="/static/img/hamburguermenu-min.png " ng-click="movilMenu=true">
              <div class="menu ">
              <a href="#why-a-startup" offset="30" du-smooth-scroll du-scrollspy >{{ 'WHY_STARTUP' | translate }}</a>
              <a href="#how-it-works" offset="30" du-smooth-scroll du-scrollspy>{{'HOW' | translate }}</a>
              <a href="#features" offset="30" du-smooth-scroll du-scrollspy>{{'FEATURES' | translate }}</a>
            <a href="#our-team" offset="30" du-smooth-scroll du-scrollspy>{{'OUR' | translate }}</a>
            <div class="simple-cont">
            <!--  <p class="bluelink signup-nav button" ng-click="request=true">Join</p>-->
            <p class="login-btn" ng-click="login=true">{{'LOGIN' | translate }}</p>
              <p class="bluelink signup-nav" ng-click="join=true">{{'SIGNUP' | translate }}</p>
              <!--<p class="bluelink signup-nav button" ng-click="request=true">{{'JOIN' | translate }}</p>
              <span class='scroll-debug'>{{scrolled}}</span>-->
            </div>

            </div>
        </nav>
        <div class="section-cont">
          <video playsinline autoplay muted loop poster="" id="bgvid">
              <source src="" type="video/webm">
              <source src="/static/img/NewVideo.mp4" type="video/mp4">
        </video>
        <div class="black">

        </div>

        <div class="flex-cont" id="why-a-startup" ng-style="{'height':h }">
          <h1 class="title">{{'WHY' | translate }}<span class="title blue" ng-bind='wordTitle' ng-class="{ 'fadeIn fast' : fadeInOn, 'fadeOut fast' : fadeOutOn }"></span>{{'STARTUP' | translate }}</h1>
          <h2 class="subtitle cursive"><span class="subtitle cursive span" ng-bind="sentenceSubtitle" ng-class="{ 'fadeIn fast' : fadeInOn, 'fadeOut fast' : fadeOutOn }"></span></h2>
            <div class="sub-cont " >
              <!--  <a class="blue-button join-button join-btn-land "  href="" ng-click="join=true ">Join Now!</a>-->
                  <div class="form-input flex-cont email">
                    <p class="center-paragraph ">{{'REASONS' | translate }}</p>
                    <p class="simple-paragraph">{{'THING' | translate }}</p>
                      <p class="sub-paragraph fadeIn fast">{{'SOON' | translate }}</p>
                      <input type="email" ng-style="errorHeader && {'color':'#F26649'}" ng-click="clearRequest()"  ng-model="guestEmail" name="request-email" placeholder="Email" required="true">
                      <p class="red-text error" ng-bind="mailRequestError" ng-show="errorHeader"></p>
                      <a class="blue-button join-button join-btn-land request-btn" href="" ng-click="submit(guestEmail, 'header')">{{'EMAIL_JOIN' | translate }}</a>
                  </div>

            </div>
            </div>
            </div>

<div class="section-cont" id="gradient-bg">
  <div class="flex-cont" id="how-it-works">
    <p class="sub-gray">{{'HOW_WORKS' | translate }}</p>
    <div class="flex-cont row wrap" id="process-block" when-visible="animateHowItWorks">
      <div class="flex-cont process-cont up">
        <p class="simple-paragraph">{{'CREATE' | translate }}</p>
        <img src="/static/img/HOW/IDEA.svg" alt="Create your idea">
      </div>
      <div class="flex-cont process-cont down">
        <img src="/static/img/HOW/Feedback.svg" alt="Receive feedback">
        <p class="simple-paragraph">{{'RECEIVE' | translate }}</p>
      </div>
      <div class="flex-cont process-cont up">
        <p class="simple-paragraph">{{'MEASURE' | translate }}</p>
        <img src="/static/img/HOW/Potential.svg" alt="Mesure the potential">
      </div>
      <div class="flex-cont process-cont down">
        <img src="/static/img/HOW/Startup.svg" alt="Build a startup">
        <p class="simple-paragraph">{{'BUILD' | translate }}</p>
      </div>
      <div class="flex-cont process-cont up">
        <p class="simple-paragraph">{{'FIND' | translate }}</p>
        <img src="/static/img/HOW/Team.svg" alt="Find a team">
      </div>
      <div class="flex-cont process-cont down">
        <img src="/static/img/HOW/Answers.svg" alt="Solve your doubts">
        <p class="simple-paragraph">{{'SOLVE' | translate }}</p>
      </div>
      <div class="flex-cont process-cont up">
        <p class="simple-paragraph">{{'DEVELOP' | translate }}</p>
        <img src="/static/img/HOW/MVP.svg" alt="Develop your product">
      </div>
      <div class="flex-cont process-cont down">
        <img src="/static/img/HOW/Launch.svg" alt="Launch">
        <p class="simple-paragraph">{{'LAUNCH' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="flex-cont" id="the-community" ng-style="visibility && {'visibility':'visible'}">
    <div class="flex-cont row experts-cont" ng-class="{ 'fadeIn fast' : fadeInExpert, 'fadeOut fast' : fadeOutExpert }">
      <img class="exp-photo" ng-src="{{expertsInfo[experts].photo}}">
      <div class="simple-cont">
      <p class="quote" ng-bind="expertsInfo[experts].quote"></p>
        <p class="quote-sign" ng-bind="expertsInfo[experts].sign"></p>
        <p class="darker uppercase" ng-bind="expertsInfo[experts].qualitative"></p>
        </div>
        <img class="exp-logo" ng-src="{{expertsInfo[experts].logo}}">
    </div>
  </div>

  <div class="flex-cont" id="features">
    <p class="sub-gray">{{'THE_FEATURES' | translate }}</p>
    <div class="flex-cont row wrap">
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/PIVOT.svg" alt="Pivot">
        <p class="simple-paragraph">{{'PIVOT' | translate }}</p>
        <p class="medium-txt">{{'CHANGE' | translate }}
        {{'CHANGE2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/NETWORK.svg" alt="Network">
        <p class="simple-paragraph">{{'NETWORK' | translate }}</p>
        <p class="medium-txt">{{'EXPAND' | translate }}
          {{'EXPAND2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/FEEDBACK.svg" alt="Feedback">
        <p class="simple-paragraph">{{'FEEDBACK' | translate }}</p>
        <p class="medium-txt">{{'SAVE' | translate }}
          {{'SAVE2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/PROFILE.svg" alt="Profile">
        <p class="simple-paragraph">{{'PROFILE' | translate }}</p>
        <p class="medium-txt">{{'SKILLS' | translate }}
          {{'SKILLS2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/TEAM.svg" alt="Dreamteam">
        <p class="simple-paragraph">{{'DREAMTEAM' | translate }}</p>
        <p class="medium-txt">{{'MVP' | translate }}
        {{'MVP2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/QA.svg" alt="Q&A">
        <p class="simple-paragraph">{{'QA' | translate }}</p>
        <p class="medium-txt">{{'ASK' | translate }}
          {{'ASK2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/PRIVACY.svg" alt="Privacy">
        <p class="simple-paragraph">{{'PRIVACY' | translate }}</p>
        <p class="medium-txt">{{'DEVELOPING' | translate }}
        {{'DEVELOPING2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/STATUS.svg" alt="Status">
        <p class="simple-paragraph">{{'STATUS' | translate }}</p>
        <p class="medium-txt">{{'HELP' | translate }}
        {{'HELP2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/JOBLIST.svg" alt="Joblist">
        <p class="simple-paragraph">{{'JOBLIST' | translate }}</p>
        <p class="medium-txt">{{'MONEY' | translate }}
          {{'MONEY2' | translate }}</p>
      </div>
      <div class="flex-cont tools-cont">
        <img src="/static/img/Tools/EARLYADOPTERS.svg" alt="Early adpoter">
        <p class="simple-paragraph">{{'EARLY' | translate }}</p>
        <p class="medium-txt">{{'COMMUNITY' | translate }}
        {{'COMMUNITY2' | translate }}</p>
      </div>


    </div>
  </div>

    <div class="flex-cont" id="our-team" >
      <p class="sub-gray">{{'TEAM' | translate }}</p>
      <div class="flex-cont row" id="all-team-container">
      <div class="flex-cont team-side">
        <div class="flex-cont row team-cont ">
          <img src="/static/img/Geppe_IMG.png" alt="Pedro Camarena"
          id='pedro' ng-click="changeGraph('Pedro')"
          click-outside="changeGraph('All')" outside-if-not="luis mario constanza ele">
          <div class="simple-cont">
            <p class="simple-paragraph">{{'PEDRO' | translate }}</p>
            <p class="small-italic">{{'MANAGER' | translate }}</p>
          </div>
        </div>
        <div class="flex-cont row team-cont ">
          <img src="/static/img/Luis_IMG.png" alt="Luis Mendoza"
          id='luis'  ng-click="changeGraph('Luis')"
          click-outside="changeGraph('All')" outside-if-not="pedro mario constanza ele">
          <div class="simple-cont">
            <p class="simple-paragraph">{{'LUIS' | translate }}</p>
            <p class="small-italic">{{'BRAND' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="flex-cont" id="team-center">
        <img id="team-graph" ng-src="{{graph}}" alt="Wetopia team graph">
        <div class="flex-cont row team-cont ">
          <img src="/static/img/MARIO_IMG.png" alt="Mario García"
          id="mario" ng-click="changeGraph('Mario')"
         click-outside="changeGraph('All')" outside-if-not="luis pedro constanza ele">
          <div class="simple-cont">
            <p class="simple-paragraph">{{'MARIO' | translate }}</p>
            <p class="small-italic">{{'BACK' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="flex-cont team-side">
        <div class="flex-cont row team-cont ">
          <img src="/static/img/Conz_IMG.png" alt="Constanza Madrigal"
          id="constanza" ng-click="changeGraph('Constanza')"
         click-outside="changeGraph('All')" outside-if-not="luis mario pedro ele">
          <div class="simple-cont">
            <p class="simple-paragraph">{{'CONZ' | translate }}</p>
            <p class="small-italic">{{'FRONT' | translate }}</p>
          </div>
        </div>
        <div class="flex-cont row team-cont ">
          <img src="/static/img/ELE_IMG.png" alt="Eleonora Paredes"
          id="ele" ng-click="changeGraph('Ele')"
          click-outside="changeGraph('All')" outside-if-not="luis mario constanza pedro">
          <div class="simple-cont">
            <p class="simple-paragraph">{{'ELE' | translate }}</p>
            <p class="small-italic">{{'DESIGN' | translate }}</p>
          </div>
        </div>
      </div>


      </div>
    </div>

<div class="section-cont">
<div class="flex-cont" id="bottom-land-bg" >
  <p class="center-paragraph">{{'WAITING' | translate }}</p>
  <p class="simple-paragraph">{{'TODAY' | translate }}.</p>
<!--  <a class="blue-button join-button join-btn-land " href="" ng-click="join=true ">Join Now!</a>-->
<div class="form-input flex-cont email" id="form-input-footer">
    <p class="sub-paragraph fadeIn fast center-advice">{{'LAUNCHING' | translate }}</p>
    <input type="email" ng-style="errorFooter && {'color':'#F26649'}" ng-click="clearRequest()" ng-model="userEmail" name="request-email" placeholder="Email" required="true">
    <p class="red-text error" ng-bind="mailRequestError" ng-show="errorFooter"></p>
    <a class="blue-button join-button join-btn-land request-btn"  href="" ng-click="submit(userEmail, 'footer')">{{'JOIN_FOOTER' | translate }}</a>
</div>
</div>
</div>
</div>
<div class="footer flex-cont">
<!--
  <div class="left">
    <a  href="/home"  class="small">Home</a>
    <a href="/myProfile" class="small">My Profile</a>
    <a  href="/createIdea/first" class="small">Create Idea</a>
    <a href="/myIdea" class="small">My Idea</a>
  </div>
-->

  <div class="icons">
    <img src="/static/img/wetopia_dark-min.png">
    <div class="simple-cont">
      <a href="https://www.facebook.com/wetopiaCo/"  target="_blank"><img src="/static/img/fb_icon_dark.svg"></a>
      <a href="https://twitter.com/wetopiaco"  target="_blank"><img src="/static/img/twitter.svg"></a>
      <a href="https://www.instagram.com/wetopia.co/"  target="_blank"><img src="/static/img/instagram_dark.svg"></a>
      <!--<a href="#"><img src="/static/img/snap_dark.svg"></a>-->
    </div>

  </div>
<!--
  <div class="right">
    <p class="medium-bold">Wetopia (c) 2017</p>
    <p class="small">Terms & Conditions</p>
    <p class="small">Privacy Policy</p>
    <p class="small">Ethics Code</p>
  </div>
-->
</div>

      </div>
      <div class="flex-modal white " ng-show="join">
          <div class="centered-form modal-form" id="landing-cf"  click-outside="closeSignup()" outside-if-not="join-button, signup-nav, login-land">
            <div class="flex-cont">
              <p class="close-x" ng-click="join=false">x</p>
              <p class="sub-gray">{{'SIGNUP' | translate }}</p>
              <div class="form-input">
                  <img  ng-src="{{nameError?'/static/img/Login_user_red.svg':'/static/img/Login_user.svg'}}">
                  <input type="text" name="signup-name" ng-click="clearErrors()"  ng-model="user.name" placeholder="Name" required/>
                  <p class="red-text error" ng-bind="nameMessageError" ng-show="nameError"></p>
              </div>
              <div class="form-input">
                  <img ng-src="{{lastnameError?'/static/img/Login_user_red.svg':'/static/img/Login_user.svg'}}">
                  <input type="text" name="signup-lastname" ng-click="clearErrors()" ng-model="user.lastname" placeholder="Last Name" required="true">
                  <p class="red-text error" ng-bind="lastnameMessageError" ng-show="lastnameError"></p>
              </div>
              <form class="form-input" name="signupForm" >
                  <img ng-src="{{emailError?'/static/img/Login_mail_red.svg':'/static/img/Login_mail.svg'}}" >
                  <input type="email" ng-model="user.newEmail" ng-click="clearErrors()" ng-style="emailError && {'color':'#F26649'}" name="input" placeholder="Email" required="true">
                  <p class="red-text error" ng-bind="emailMessageError" ng-show="emailError"></p>
              </form>
              <div class="form-input">
                  <img ng-src="{{passwordError?'/static/img/Login_pass_red.svg':'/static/img/Login_pass.svg'}}" src="/static/img/Login_pass.svg">
                  <input type="password" ng-model="user.newPassword" ng-click="clearErrors()" ng-style="passwordError && {'color':'#F26649'}"  name="signup-password" placeholder="Password" required="true">
                  <p class="red-text error" ng-bind="passwordMessageError" ng-show="passwordError"></p>
              </div>
              <input type="button" value="Join" class="form-button " name="join" ng-click="signUp(signupForm.input.$error.email)">
              <p class="terms">{{'ACCEPTING' | translate }}<span class="bluelink">{{'TERMS' | translate }}
              {{'PRIVACY_POLICY' | translate }}</span>{{'ALONG' | translate }}<span class="bluelink">{{'ETHICS' | translate }}</span></p>
              <p class="already">{{'ALREADY' | translate }}</p>
              <p class="bluelink already login-btn" ng-click="openLogin()">{{'SIGNIN' | translate }}</p>
            </div>
          </div>
      </div>
<!--Also flex modal black-->
      <div class="flex-modal white " id="login-land"  ng-show="login">
          <div class="centered-form modal-form" click-outside="closeLogin()" outside-if-not="login-btn landing-cf">
            <div class="flex-cont">
              <p class="close-x" ng-click="login=false">x</p>
              <p class="sub-gray">{{'LOGIN' | translate }}</p>
              <form name="loginForm" class="form-input">
                  <img ng-src="{{emailError?'/static/img/Login_mail_red.svg':'/static/img/Login_mail.svg'}}" >
                  <input type="text" ng-click="clearErrors()" ng-click="clearErrors()"  ng-model="user.email" ng-style="emailError && {'color':'#F26649'}" name="login-email" placeholder="Email" required="true">
                  <p class="red-text error" ng-bind="emailMessageError" ng-show="emailError"></p>
              </form>
              <div class="form-input">
                  <img ng-src="{{passwordError?'/static/img/Login_pass_red.svg':'/static/img/Login_pass.svg'}}" src="/static/img/Login_pass.svg">
                  <input type="password" ng-click="clearErrors()" ng-click="clearErrors()" ng-model="user.password" ng-style="passwordError && {'color':'#F26649'}"  name="login-password" placeholder="Password" required="true">
                  <p class="red-text error" ng-bind="passwordMessageError" ng-show="passwordError"></p>
              </div>
              <p class="terms right" ng-class="{'margin-top': passwordError}" >{{'FORGOT' | translate }}</p>
              <input type="button" value="Join" class="form-button " name="login" ng-click="signIn(loginForm.input.$error.email)">
              <p class="already">{{'DONT' | translate }}</p>
              <p class="bluelink already signup-nav" id="signup-nav" ng-click="openSignup()">{{'JOIN_NOW' | translate }}</p>
              </div>
          </div>
      </div>

      <div class="flex-modal white " id="request-land"  ng-show="request">
          <div class="centered-form modal-form" click-outside="request=false" outside-if-not="request-btn signup-nav">
            <div class="flex-cont">
              <p class="close-x" ng-click="closeRequestModal()">x</p>
              <p class="sub-gray">{{'REQUEST' | translate }}</p>
              <div class="form-input">
                  <img ng-src="{{error?'/static/img/Login_mail_red.svg':'/static/img/Login_mail.svg'}}" src="/static/img/Login_mail.svg">
                  <input type="email" ng-style="error && {'color':'#F26649'}" ng-click="clearRequest()"  ng-model="guestEmail" name="request-email" placeholder="Email" required="true">
                      <p class="red-text error" ng-bind="mailRequestError" ng-show="error"></p>
              </div>
              <input type="button" value="Send" class="form-button " name="send-request" ng-click="submit(guestEmail, 'modal')" >
              </div>
          </div>
      </div>

      <div class="flex-modal white alert-modal"  ng-show="thanks">
          <div class="centered-form modal-form" click-outside="thanks=false">
            <div class="flex-cont">
              <p class="close-x" ng-click="thanks=false">x</p>
              <p class="sub-gray">{{'THANKS' | translate }}</p>
              <img class="done-icon" src="/static/img/DONE_ICON.svg">
              <p class="medium">{{'PART' | translate }}</p>
              <p class="medium">{{'KEEP' | translate }}
                {{'KEEP2' | translate }}</p>
            <p class="smaller">{{'MEANTIME' | translate }}</p>
              <div class="icons">
                <div class="simple-cont">
            <a href="https://www.facebook.com/wetopiaCo/"  target="_blank" ><img src="/static/img/fb_icon_dark.svg"></a>
            <a href="https://twitter.com/wetopiaco"  target="_blank" ><img src="/static/img/twitter.svg"></a>
            <a href="https://www.instagram.com/wetopia.co/"  target="_blank" ><img src="/static/img/instagram_dark.svg"></a>
            <!--<a href="#"><img src="/static/img/snap_dark.svg"></a>-->
                </div>
              </div>
              </div>
          </div>
      </div>

      <div class="flex-modal" id="movil-land-menu"  ng-show="movilMenu" g>
        <img class=" logo " src="/static/img/logo_t.svg ">
              <p class="close-x" ng-click="movilMenu=false">x</p>
              <p class="sub-white" ng-click="movilMenu=false" href="#why-a-startup" offset="30" du-smooth-scroll du-scrollspy >{{'WHY_STARTUP' | translate }}</p>
              <p class="sub-white" ng-click="movilMenu=false"  href="#how-it-works" offset="30" du-smooth-scroll du-scrollspy>{{'HOW' | translate }}</p>
              <p class="sub-white" ng-click="movilMenu=false" href="#features" offset="30" du-smooth-scroll du-scrollspy >{{'FEATURES' | translate }}</p>
              <p class="sub-white" ng-click="movilMenu=false" href="#our-team" offset="30" du-smooth-scroll du-scrollspy >{{'OUR' | translate }}</p>
      </div>
  </body>
