<body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="../js/login.js">
    </script>
    <div class="fixed-background">
        <form class="centered-form" action="index.html" method="post">
            <div class="upper-text-form">
                <a href="#">
                    <p>Registrarse</p>
                </a>
            </div>
            <div class="logo-img">
                <img src="/static/img/logo_Login.svg" alt="Wetopia">
            </div>
            <p>Iniciar Sesión</p>
            <div class="form-input">
                <img src="/static/img/Login_mail.svg">
                <input type="text" name="login-email" placeholder="Email">
            </div>
            <div class="form-input">
                <img src="/static/img/Login_pass.svg">
                <input type="password" name="login-password" placeholder="Contraseña">
            </div>
            <input class="form-button" type="button" name="login-button" value="Entrar">
        </form>
    </div>
</body>
