<body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js">
    </script>
    <script src="../js/login.js">
    </script>
    <div class="hexagon-background">
        <form class="login-form" action="index.html" method="post">
            <div class="signup-text">
                <a href="#">
                    <p>Iniciar Sesión</p>
                </a>
            </div>
            <p id="signup-form-h">Nuevo Usuario</p>
            <div class="login-input">
                <img src="/static/img/Login_user.svg">
                <input type="text" name="signup-username" placeholder="Nombre de usuario">
            </div>
            <div class="login-input">
                <img src="/static/img/Login_mail.svg">
                <input type="text" name="signup-email" placeholder="Email">
            </div>
            <div class="login-input">
                <img src="/static/img/Login_pass.svg">
                <input type="password" name="signup-password" placeholder="Contraseña">
            </div>
            <div class="login-input">
                <img src="/static/img/Login_repeat.svg">
                <input type="password" name="signup-lastname" placeholder="Repetir contraseña">
            </div>
            <input class="login-button" id="signup-buttom" type="button" name="signup-button" value="Siguiente">
        </form>
    </div>
</body>
