/* Para los hover=
 transition: background 1200ms;
Se pone en el normal y en el de hover

Para subir o bajar textos puedo aplica
line-height: 40px;
 */

@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";
@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoSans-300.otf');
}
@font-face {
    font-family: 'Museo_D';
    src: url('../fonts/MuseoSans_500.otf');
}

.fixed-background {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

* {
    color: $text-gray;
    @include font('Museo', 300);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.centered-form {
    margin: auto;
    @include zIndex(1);
    width: 350px;
    height: 480px;
    background: white;
    margin-top: 75px;
    vertical-align: middle;
    box-shadow: 0 0 70px 10px $pt-gray;

    p {
        color: $pt-gray;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .logo-img{
      img {
        height: 140px;
        margin-top: -10px;
      }
    }
    @media screen and (min-height: 1000px) {
    		margin-top: 250px;
    }
    @media screen and (min-height: 1200px) {
    		margin-top: 400px;
    }
    @media screen and (orientation: landscape){
      @media screen and (max-height: 450px){
        transform: rotate(270deg);
      }

      @media screen and (max-width: 750px) and (max-height: 420px)  {
              margin-top: -65px;
              width: 270px;
      }
      @media screen and (max-width: 700px) and (max-height: 420px) {
              margin-top: -90px;
              width: 270px;
      }
      @media screen and (max-width: 570px) and (max-height: 350px) {
              margin-top: -110px;
      }
    }

    @media screen and (orientation: portrait) {
      @include queryWHMT(420, 740, 330, 480, 120);
      @include queryWHMT(380, 670, 300, 480, 75);
      @include queryWHMT(350, 580, 270, 450, 60);
    }
}

.upper-text-form {
    width: 100%;
    text-align: right;

    p {
        color: $wetopia-yellow;
        @include font('Museo_D', 500);
        margin-right: 25px;
        padding-top: 20px;
    }
}

input{
border-color: transparent;
background: $textfield-gray;
margin-bottom: 20px;
margin-left: -5px;
@include zIndex(2);
border-radius: 4px;
font-size: 12px;
width: 150px;

  &[value="Registrarse"] {
    width: 90px;
}

  &[value="Siguiente"] {
    margin-top: 20px;
    width: 80px;
}
}

.form-input{
  img {
      height: 35px;
      vertical-align: middle;
      @include zIndex(3);
  }
}

.form-button {
    background: $pt-gray;
    color: white;
    width: 70px;
    height: 23px;
    margin-top: 5px;
    margin-left: 0;
    cursor: pointer;

    &:active{
      transform: scale(0.95);
    }
}

#init-sesion-h {
    margin-bottom: 0;
    margin-top: 70px;
}

#signup-form-h {
    margin-top: 70px;
    margin-bottom: 40px;
}

#new-user-img {
    margin-bottom: 18px;
    height: 105px;
    margin-top: 20px;
}
