$holder: #a9a9b1;
$blue_dark: #0091B3;
$green: #00AFAA;
$brown: #CFA175;
$red: #E84B37;

// @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@font-face {
  font-family: 'Museo';
  src: url('/static/fonts/MuseoSans-300.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Museo_D';
  src: url('/static/fonts/MuseoSans_500.otf'); /* IE9 Compat Modes */
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  // font-size: 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
span{
  font-family: 'Museo_D';
  font-weight: bold;

}
main{
  margin: 15px 15px;
}
p{
  word-spacing: 3px;
}
.brown{
  color: $brown;
}
.red{
  color: $red;
}
.blue{
  color: $blue_dark;
}


body {
  font-family: 'Museo','Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(63,77,85);
  font-weight: 300;
}
.divisor{
  margin: 30px 0;
  background-image: url('/static/img/divisor.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 60px;
  display: flex;
}
.left{
  margin-left: auto;

}
.head{
  img{
    width: 50px;
  }
  .hexagon{
    background-image: url('/static/img/hexagon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    // height: 100%;
    margin: 15px 0;
    color: white;
    .title_hexagon{
        text-align: center;
        h1{
          font-family: 'Museo_D';
          color: white;
          text-transform: uppercase;
          font-size: 25px;
          letter-spacing: 9px;
        }
        h2{
          color: white;
          font-size: 16px;
          margin-top: 10px;

        }
    }
    .head_text{
      color: black;
      padding: 10px 0;
      p{
        margin-bottom: 10px;
      }
    }

  }

}
.form_hexagon{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 25px;
  p{
    text-align: left;
    align-self: flex-start;
    font-size: 14px;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    outline: none;
    font-size: 0.7em;
    border-radius: 5px;
    padding: 1.5% 5px;
    width: 100%;
    margin-top: 2%;
  }
  input[type="button"], input[type="submit"] {
    margin-top: 6%;
    cursor: pointer;
    background: #0091B3;
    font-size: 0.8em;
    padding: 0.4rem 0.7rem;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 30%;
    width: 50%;
  }
  select{
    background: white;
    color: $holder;
    margin-top: 2%;
    outline: none;
    font-size: 0.7em;
    border-radius: 5px;
    padding: 1.5% 5px;
    width: 100%;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  }
  .secondForm_form{
    border: solid 2px #c9c9c9;
  }
  #top{
    margin: 9% 20px 0 20px;
  }
  #secondForm_button{
    margin-bottom: 10px;
  }
}
.step-landing{
  display: flex;
  flex-direction: column;
  margin: 20px 0 40px 0;
  .step_title{
    font-weight: bold;
    font-family: 'Museo_D';
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
    img{
      margin-right: 5px;
      width: 17px;
    }
  }
  .step_image{
    img{
      width: 100%;
    }
  }
  .step_text{
    p{
      margin-top: 10px;
    }
  }
}


.secondForm{
  .balloons{
    text-align: center;
    img{
      width: 80px;
    }
  }
  .secondForm_text{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .secondForm_text-second{
    p{
      text-align: center;
      padding: 15px;
    }
  }
}
.community{
  padding: 15px;
  text-align: center;
  h3{
    font-family: 'Museo_D';
    font-weight: bold;
    margin-top: 10px;
  }
  .social{
    margin: 20px 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .social_icon{
      margin: 0 10px;
      width: 50px;
    }
  }
}



/*iPhone 5-like sizes*/
@media (max-width: 319px) {
  .head{
    img{
      width: 50px;
    }
    .hexagon{
      background-color: #00AFAA;
      height: 100%;
      padding-bottom: 20px;
      border-radius: 15px;

    }
  }
}
@media (min-width: 362px){
  .form_hexagon{
    input[type="button"], input[type="submit"] {
      margin-bottom: 27%;
      }
    }
}
@media (min-width: 413px){
  .head{
    img{
      width: 60px;
    }
    .hexagon{
      .form_hexagon{
        margin: 10% 20px 0 20px;
        p{
          font-size: 16px;
        }
        input[type="text"], input[type="email"], input[type="password"], textarea {
          font-size: 0.9em;
        }
        input[type="button"], input[type="submit"] {
          margin-bottom: 47%;
          }
        select{
          font-size: 0.9em;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .head{
    .hexagon{
      margin: 20px;
      height: 100vh;

      .title_hexagon{
        h1{
          font-size: 40px;
        }
      }
      .form_hexagon{
        margin: 10% 110px 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        p{
          width: 80%;
        }
        input[type="text"], input[type="email"], input[type="password"], textarea {
          width: 49%;
        }
        input[type="button"], input[type="submit"] {
          margin-bottom: 1%;
          margin-left: auto;
          padding: 0.6rem 1rem;
          width: 40%;
        }
      }
      .head_text{
        padding: 20px 20px 0 40px;
        color: white;
      }
    }
}

  .step-landing{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 40px 20px;
    .step_title{
      text-align: right;
      margin-bottom: 0;
      width: 100%;
    }
    .step_image{
      width: 39%;
    }
    .step_text{
      width: 59%;
    }
    #project-title_inverse{
      text-align: left;
    }
    #project-image_inverse{
      order: 2;
    }
    #project-text_inverse{
      order: 1;
    }
  }
}
@media (min-width: 400px) and (orientation:portrait) {

}
@media (min-width: 800px) {

  .head{
    .hexagon{
      height: 120vh;
      img{
        width: 80px;
      }
      margin: 30px 35px;
      .title_hexagon{
        margin-top: 8%;
        h1{
          font-size: 60px;
        }
      }
    }
    .head_text{
      padding: 15px 60px;
      margin-bottom: 20px;
    }
  }
  .step-landing{
    margin: 20px 30px 40px 30px;
  }

}
@media (min-width: 850px) {

  .head{
    .hexagon{
      height: 130vh;
    }
  }
}
@media (min-width: 900px) {

  .head{
    .hexagon{
      height: 140vh;
    }
  }
}
@media (min-width: 1000px) {
  main{
    margin: 15px 100px;
  }
  .head{
    .hexagon{
      height: 140vh;
      margin: 30px 0px;
      .title_hexagon{
        margin-top: 8%;
        h1{
          font-size: 60px;
        }
      }
      .head_text{
        margin-top: 0px;
        line-height: 150%;
        padding: 10px 100px;
        margin-bottom: 40px;
        font-size: 16px;
        p{
          margin-top: 20px;
        }
      }
    }
  }
  .step-landing{
    margin: 20px 40px 40px 40px;
    line-height: 200%;
  }
  .form_hexagon{
    margin: 8% 150px 10px;
    padding: 30px 80px;
  }

}
@media (min-width: 1075px) {

  .head{
    .hexagon{
      height: 150vh;
    }
  }
}
@media (min-width: 1140px) {

  .head{
    .hexagon{
      height: 160vh;
    }
  }
}
@media (min-width: 1200px) {

  .head{
    .hexagon{
      height: 170vh;
    }
  }
}
@media (min-width: 1260px) {

  .head{
    .hexagon{
      height: 180vh;
    }
  }
}
@media (min-width: 1300px) {

  .head{
    .hexagon{
      height: 200vh;
      .head_text{
        margin-top: 20px;
        line-height: 200%;
        padding: 10px 200px;
        margin-bottom: 40px;
        font-size: 18px;
        p{
          margin-top: 20px;
        }
      }
    }
  }
}
@media (min-width: 1500px) {
  .head{
    .hexagon{
      height: 300vh;
    }
  }
}
