$wetopia-red: #F26649;
$wetopia-yellow: #E6BA83;
$wetopia-blue: #00A9CD;
$pt-gray: #CCCCCC;
$text-gray: #4D4D4D;
$textfield-gray: #F5F5F5;
$wetopia-aqua: #03A9CD;
$green-yellow: #b8e986;
$wetopia-green: #8DC63F;
$color-yellow: #FBC326;
$color-red: #EF4136;
$path: "/static";
$gray-medium: #4A4A4A;
$gray-dark: #5C5C5C;
$gray-forgot: #5A5A5A;
$link-blue-color: #00A8CB;
$gray-lighter: #9B9B9B;
$aqua-active: #00B1B0;
$gray-dark-medium: #D8D8D8;
